#set($counselorVO=$session.getAttribute("SESSION_COUNSELOR_OBJECT"))
<link href="$link.contextPath/STATIC/plugin/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/umeditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/umeditor.js"></script>
<!-- 语言包文件(建议手动加载语言包，避免在ie下，因为加载语言失败导致编辑器加载失败) -->
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/lang/zh-cn/zh-cn.js"></script>  
#if(!$result.success)
<div class="alert alert-dismissable alert-danger">
  <h2>请注意</h2>
  <p>$result.message</p>
</div>	
#else
<form  id="appriseInterviewForm">
<div class="row">
	<div class="col-sm-12">
			<div class="alert alert-dismissable alert-info">
			  <strong>感谢您的评价</strong> 
			  请客观公正的评价您的咨询者，完成评价后才能完成您的咨询
			</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-pushpin"></span>咨询者信息</div>
		  <div class="panel-body">
		  		<div class="col-sm-12">
                  	<div class="col-sm-1">
                        <img src="$link.contextPath/UPLOAD/$!counselorVO.counselor.photo" class="img-rounded" style="width: 82px;height: 82px;">
                    </div>
                    <div class="col-sm-11">
	                    <p class="col-sm-12"><span class=" text-right col-sm-2">名称:</span>$!consultant.name</p>
	                    <p class="col-sm-12"><span class=" text-right col-sm-2">邮箱:</span>$!consultant.email</p>
	                    <p class="col-sm-12"><span class=" text-right col-sm-2">手机号码:</span>$!consultant.mobile</p>
                    </div>
                </div>	
		  		<div class="col-sm-12" style="border-top:solid 1px #ddd">
						<p>为了让您更了解您的咨询者，您可以查看他的<a  target="_blank" href="$link.contextPath/counselor/consultantResume.htm?consultantId=$!consultant.id"><strong style="font-size:22px;">个人简历</strong></a>或者留言进行了解。 </p>
                </div>	                
		  </div>
  		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-body">
		  	<input type="radio" name="apprise"  value="1" checked>
            非常好
            <input type="radio" name="apprise"  value="2">
            还不错
            <input type="radio" name="apprise"  value="3">
            一般般
            <input type="radio" name="apprise"  value="4">
            简直不敢恭维
		  </div>
		 </div>
	</div>
</div>		  
<div class="row">
	<div class="col-sm-12">
        <script type="text/plain" id="myEditor" name="message" style="width:100%;height:200px;">$!article.content</script>
        <script type="text/javascript">
		    $(function(){
		        window.um = UM.getEditor('myEditor', {
		            /* 传入配置参数,可配参数列表看umeditor.config.js */
		            toolbar: ['undo redo | bold italic underline']
		        });
		    });
        </script>   
        <br/>
        <input type="hidden" name="relId" value="$interview.id"/>
        <button type="button" class="btn btn-danger col-sm-2" style="float:right;" onclick="appriseInterview()">完成评价</button>
        <a href="$link.contextPath/counselor/interview.htm?interviewId=$interview.id" class="btn btn-link" style="float:right;">返回记录</a>
	</div> 	  	
</div>
</form>
<script>
	function appriseInterview(){
		jQuery.ajax({
             type: "POST",
             url: "$link.contextPath/counselor/appriseInterview.json",
             data: $('#appriseInterviewForm').serialize(),
             dataType: "json",
             success: function(data){
             	if(data.result.success==true){
             		window.location.href="$link.contextPath/consultant/interview.htm?interviewId="+data.result.object.id
             	}else{
             		alert("评价失败"+data.result.message);
             	}
              }
         });
	}
</script>
#end
