#set($counselorVO=$session.getAttribute("SESSION_COUNSELOR_OBJECT"))
#parse("counselor/counselorGuide.vm") 
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">	
            	提供服务列表 <a  style="float:right" href="$link.contextPath/counselor/serviceConfig.htm"><span class="glyphicon glyphicon-edit">服务项目修改</span></a>
            </div>
            <div class="panel-body">
				  #foreach($serviceConfig in $counselorVO.serviceConfigs)
				  	#set($service=$application.getAttribute("serviceMap").get("$serviceConfig.serviceId"))	
					<div class="panel panel-default">
			                <div class="panel-body">
			                		<div class="col-sm-1" style="font-size:30px;">
			                			<strong>$foreach.count</strong>
			                		</div>
			                		<div class="col-sm-2">
			                		 		<img src="$link.contextPath/$fileUtil.getPath($!service.photo)" class="img-thumbnail" style="width:72px;height:72px;"/>
			                		</div>
			                		<div class="col-sm-9" style="border-left:solid 1px #ddd">
		                                <div class="col-lg-12">
                            			  <p  style="border-bottom:solid 1px #ddd">
		                                	<span class="glyphicon glyphicon-tag"></span>$service.name
		                                	<small style="float:right;">ID:$serviceConfig.id 
		                                		<span ><span class="glyphicon glyphicon-time"></span> 创建时间:$date.format("yyyy-MM-dd HH:mm:ss", $serviceConfig.gmtCreate)
		                                	</small>	
	                                		</P>
	                                	</div>
										<div class="col-lg-12">
											#set($scheduleType=$enumUtil.getByValue("com.ccconsult.enums.ScheduleTypeEnum",$service.scheduleType))
											#if($service.scheduleType==1)
												预约时间：#foreach($time in $scheduleTimeUtil.getSchuleTime($serviceConfig.workOnTime))
													<span style="margin:3px;border:solid 1px #ddd;border-radius:3px;">$scheduleTimeUtil.getScheduleMap().get($time)</span> 
												#end											
											#else
												预约类型：$scheduleType.getDescription()<br/>
											#end	
										  </div>					  
								  	</div>							  	
			                </div>		          
		            </div>
				  #end					              
            </div>
        </div>
    </div>
</div>