#set($counselorVO=$session.getAttribute("SESSION_COUNSELOR_OBJECT"))
#set($services=$session.getAttribute("ALL_SERVICES"))
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            	欢迎您：$counselorVO.counselor.name
            </div>
            <div class="panel-body">
            		<a  class="btn btn-primary" href="$link.contextPath/counselor/counselorToday.htm"><span class="glyphicon glyphicon-calendar"></span>  待办（TODAY）</a>
					<a  class="btn btn-warning" href="$link.contextPath/counselor/counselorSelf.htm"><span class="glyphicon glyphicon-align-justify"></span>   咨询信息</a>
					<a  class="btn btn-warning" href="$link.contextPath/counselor/personalAccount.htm"><span class="glyphicon glyphicon-copyright-mark"></span>   账户信息</a>	
					<div class="btn-group">
					  <a  href="$link.contextPath/counselor/counselorService.htm" class="btn btn-warning"><span class="glyphicon glyphicon-leaf"></span> 我的服务信息</a>
					  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
					  <ul class="dropdown-menu">
					    <li><a href="$link.contextPath/counselor/serviceConfig.htm">服务信息修改</a></li>
					  </ul>
					</div>	
					<a  class="btn btn-warning" href="$link.contextPath/counselor/personalInfo.htm"><span class="glyphicon glyphicon-user"></span>  个人信息</a>
					<a  class="btn btn-warning" href="$link.contextPath/counselor/innerMails.htm"> <span class="glyphicon glyphicon-envelope"></span>    站内信箱</a>
       	 	</div>
       	 	#if(!$counselorVO.counselor.description || !$counselorVO.counselor.department)
		 	<div class="panel-body">       	 	    
       	 		<p class="alert alert-danger"><a class="glyphicon glyphicon-exclamation-sign"></a>系统检查到您当前未完善您的<a href="$link.contextPath/counselor/personalInfo.htm">个人信息</a>，请您完善您的个人信息（个人介绍和部门信息等）以便于咨询者了解您的基本信息！</p>
   	 		</div>
   	 		#end   	 	
    	</div>
    </div>
</div>    