#set($counselorVO=$session.getAttribute("SESSION_COUNSELOR_OBJECT"))
#if(!$counselor)
	#set($counselor=$counselorVO.counselor)
#end
<link href="$link.contextPath/STATIC/plugin/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/umeditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/umeditor.js"></script>
<!-- 语言包文件(建议手动加载语言包，避免在ie下，因为加载语言失败导致编辑器加载失败) -->
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/lang/zh-cn/zh-cn.js"></script>  
<script src="$link.contextPath/STATIC/js/fileinput.js"></script>
<link rel="stylesheet" href="$link.contextPath/STATIC/css/fileinput.css"/>

<div class="row">
	<div class="col-lg-12">
		<div class="alert alert-dismissable alert-warning">
		   请编辑您的个人信息，请仔细填写您的是个人简介，良好的个人简介有助于咨询者更容易的了解您，你的隐私信息（手机，邮箱不会对非咨询用户开放）
		</div>
	</div>
	<div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" id="counselorForm" action="$link.contextPath/counselor/editPersonalInfo.htm?action=save" method="post" enctype="multipart/form-data">
					#if($result && !$result.success)
					<div class="col-lg-12">
						<div class="alert alert-dismissable alert-danger">
						   <h4>对不起无法修改！</h4>
						   $result.message
						</div>
					</div>		
					#end                
                    <div class="col-lg-12">	
	                	   <input type="hidden" name="id" value="$!counselor.id">
	                       <div class="form-group">
	                        <label  class="col-lg-2 control-label">注册账户</label>
	                            <div class="col-lg-8" style="padding-top:8px;">
	                            	<p class="text-danger">$!counselorVO.counselor.email</p>
	                            </div>
	                       	</div>
	                       <div class="form-group">
	                        <label  class="col-lg-2 control-label">所在公司</label>
	                            <div class="col-lg-8" style="padding-top:8px;">
	                            	<p class="text-danger">$!counselorVO.company.name</p>
	                            </div>
	                       	</div>    
	                      	<div class="form-group">
	                             <label  class="col-lg-2 control-label">个人昵称</label>
	                            <div class="col-lg-8">
	                                <input type="text" name="name" class="form-control" placeholder="请输入个人昵称" value="$!counselor.name"/>
	                            </div>
	                    	</div> 	                       	
	                      	<div class="form-group">
	                             <label  class="col-lg-2 control-label">个人头像</label>
	                            <div class="col-lg-8">
	                                 <img  src="$link.contextPath/UPLOAD/$!counselorVO.counselor.photo" class="img-rounded photoTitle" style="width: 120px;"/><br/>
	                                 <a class="photoTitle" href="javascript:void(0)" onclick="$('#fileUploadInput').show();">单击修改您的头像</a><br/>
	                            </div>                            
	                    	</div>  	
	                      	<div class="form-group" id="fileUploadInput" style="display:none;">
	                             <label  class="col-lg-2 control-label">上传头像</label>
	                            <div class="col-lg-8">
	                                 <input  type="file" name="localPhoto"  class="file" multiple="false" data-show-upload="false" data-show-caption="true" />
	                            </div>	                            
	                    	</div> 	                    	                       	   
	                      	<div class="form-group">
	                             <label  class="col-lg-2 control-label">手机号码</label>
	                            <div class="col-lg-8">
	                                <input type="text" name="mobile" class="form-control" placeholder="请输入您的手机号码" value="$!counselor.mobile"/>
	                            </div>
	                    	</div>    	                    	                   	                
	                      	<div class="form-group">
	                             <label  class="col-lg-2 control-label">部门信息</label>
	                            <div class="col-lg-8">
	                                <input type="text" name="department" class="form-control" placeholder="请输入你所在部门的信息" value="$!counselor.department"/>
	                            </div>
	                    	</div>
	       
	                  		<div class="form-group">
	                             <label  class="col-lg-2 control-label">个人简介</label>
	                            <div class="col-lg-10">
							  		<script type="text/plain" id="myEditor" name="description" style="width:100%;height:260px;">$!counselor.description</script>
							        <script type="text/javascript">
								        $(function(){
								            window.um = UM.getEditor('myEditor', {
								                /* 传入配置参数,可配参数列表看umeditor.config.js */
								                toolbar: [
													'source | undo redo | bold italic underline strikethrough | superscript subscript | forecolor backcolor | removeformat |',
													            'insertorderedlist insertunorderedlist | selectall cleardoc paragraph | fontfamily fontsize' ,
													            '| justifyleft justifycenter justifyright justifyjustify |',
													            'link unlink | emotion image video  | map',
													             'formula'
					]
								            });
								        });
							        </script> 
	                            </div>
	                    	</div>
                    	</div>
						<div class="col-lg-12">
								<label  class="col-lg-2 control-label"></label>
								<button type="submit"  class="btn btn-danger col-lg-2" >提交个人信息</button>
								<a  href="$link.contextPath/counselorInfo.htm?counselorId=$!counselorVO.counselor.id" class="btn btn-link" >  返回个人信息</a>
						</div>	
 					  </form>
				</div>
			</div>
		</div>
	</div>
