#set($counselorVO=$session.getAttribute("SESSION_COUNSELOR_OBJECT"))
<link href="$link.contextPath/STATIC/plugin/datepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet">
<link href="$link.contextPath/STATIC/plugin/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/umeditor.config.js"></script>
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/datepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/datepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<!-- 编辑器源码文件 -->
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/umeditor.js"></script>
<!-- 语言包文件(建议手动加载语言包，避免在ie下，因为加载语言失败导致编辑器加载失败) -->
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/lang/zh-cn/zh-cn.js"></script>  
<input type="hidden" id="interviewIdHidden" value="$interview.id">
#if($interview.step==1)
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
	            <div class="panel-body">
                <div class="col-sm-12">
	            	<p class="text-primary">请操作完成咨询预约</p>
	            </div>
        		<div class="col-sm-12">
					<button  class="btn btn-primary" onclick="$('#timeScheduleArea').toggle(200);"><span class="glyphicon glyphicon-ok"></span> 接受预约</button>
					<button  class="btn btn-warning" ><span class="glyphicon glyphicon-remove"></span> 拒绝预约</>
				</div>
    		</div>
   	 	</div>
 	</div>
</div>
<div class="row" id="timeScheduleArea" style="display:none;">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
	            <div class="col-sm-12">
	            	<p class="text-primary">接受预约后请设定预约时间，请再您设定的时间完成你们的咨询，请再咨询完成后双方进行评价完成咨询，你的预约时间最长能够持续3天，如果3天内未完成预约，咨询将被取消，
	            	<strong>默认时间为3天</strong></p>
	            </div>
            	<div class="col-sm-12">
            	 <div class="panel panel-default">
           			 <div class="panel-body">
	 	            <div class="col-sm-12">
		            	<p class="text-primary">请确认时间</strong></p>
		            </div>
            		<div class="col-sm-5">
		                <span class="glyphicon glyphicon-dashboard"></span>开始时间<br/>
		                <div class="input-group date form_datetime1 col-sm-12" data-date-format="yyyy-MM-dd hh:ii"
		                data-link-field="scheduleBeginHidden">
		                    <input class="form-control" size="16" type="text" value="$today" >
		                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
							<input type="hidden"  id="scheduleBeginHidden" value="$today" />
		                </div>
					</div>
					<div class="col-sm-5">
						<span class="glyphicon glyphicon-dashboard"></span>结束时间<br/>
		                <div class="input-group date form_datetime2 col-sm-12" data-date-format="yyyy-MM-dd hh:ii" 
		                data-link-field="scheduleEndHidden">
		                    <input class="form-control" size="16" type="text" value="$after3day" >
		                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
							<input type="hidden"   id="scheduleEndHidden" value="$after3day" />
		                </div>            
					</div>
					</div>
				</div>	
       	 		</div> 
       	 		<div class="col-sm-12">
       	 			<button type="button" onclick="scheduleInterview()" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-arrow-right" ></span>确认预约</button>
       	 		</div> 	       	 			  
            </div>            
        </div>
    </div>
</div>
#else
<div class="row">
	<div class="col-sm-12">
			<div class="alert alert-dismissable alert-warning">
			  <strong>恭喜您完成预约</strong> 请您在约定时间联系您的咨询者完成咨询服务.
			  <H4><span class="glyphicon glyphicon-dashboard"></span>$date.format("yyyy-MM-dd HH:mm:ss",$interview.gmtShceduleBegin)  $date.format("yyyy-MM-dd HH:mm:ss", $interview.gmtScheduleEnd) </4>
			</div>
	</div>
</div>
#end	
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-pushpin"></span>咨询者信息</div>
		  <div class="panel-body">
		  		<div class="col-sm-12">
                  	<div class="col-sm-1">
                        <img src="$link.contextPath/UPLOAD/$!counselorVO.counselor.photo" class="img-rounded" style="width: 82px;height: 82px;">
                    </div>
                    <div class="col-sm-11">
	                    <p class="col-sm-12"><span class=" text-right col-sm-2">名称:</span>$!consultant.name</p>
	                    <p class="col-sm-12"><span class=" text-right col-sm-2">邮箱:</span>$!consultant.email</p>
	                    <p class="col-sm-12"><span class=" text-right col-sm-2">手机号码:</span>$!consultant.mobile</p>
                    </div>
                </div>	
		  		<div class="col-sm-12" style="border-top:solid 1px #ddd">
						<p>为了让您更了解您的咨询者，您可以查看他的<a  target="_blank" href="$link.contextPath/counselor/consultantResume.htm?consultantId=$!consultant.id"><strong style="font-size:22px;">个人简历</strong></a>或者留言进行了解。 </p>
                </div>	                
		  </div>
  		</div>
	</div>
</div>	

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-pushpin"></span>咨询记录状态</div>
		  <div class="panel-body">
                    <div class="col-sm-12" >
						  <p>
							  <a  class="btn btn-sm  btn-success disabled ">创建咨询请求</a>
							  <span class="glyphicon glyphicon-arrow-right"></span>
							  <a  class="btn  btn-sm
							  	#if($interview.step>1)  btn-success disabled  
							  	#elseif($interview.step==1) btn-primary 
							  	#else  btn-default  #end">确认咨询时间</a>
							  <span class="glyphicon glyphicon-arrow-right"></span>
							  <a  class="btn disabled btn-sm
							  	#if($interview.step>2)  btn-success   
							  	#elseif($interview.step==2) btn-primary   
							  	#else  btn-default  #end" data-toggle="modal" data-target="#confirmInterview">咨询进行中</a>
							  <span class="glyphicon glyphicon-arrow-right"></span>
							  <a  class="btn disabled btn-sm
							  	#if($interview.step>3)  btn-success   
							  	#elseif($interview.step==3) btn-primary   
							  	#else  btn-default  #end" data-toggle="modal" data-target="#confirmInterview">咨询者评价</a>
							  <span class="glyphicon glyphicon-arrow-right"></span>	
							  <a  class="btn btn-sm
							  	#if($interview.step>4)  btn-success disabled
							  	#elseif($interview.step==4)   btn-primary
							  	#else btn-default #end" href="$link.contextPath/counselor/appriseInterview.htm?interviewId=$interview.id">评价本次咨询</a>
							  <span class="glyphicon glyphicon-arrow-right"></span>
							  <a  class="btn btn-sm disabled">
							   <span class="glyphicon glyphicon-ok"></span>
							  </a>
						  </p>
						  <p class="text-primary">红色表示当前所状态,用户预约在付款后会创建一笔担保交易，只有在完成咨询和确认后，才能最终完成交易.</p>
                    </div>
		  </div>
  		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-pushpin"></span>备注信息</div>
		  <div class="panel-body">
		  		$!interview.memo
		  </div>
  		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-comment"></span> 消息留言</div>
		  <div class="panel-body">
		  	#foreach($messageVO in $messageVOs)
		  		#if($messageVO.message.creatorRole==2)
			  		<div class="col-sm-12">
				  		<div class="col-sm-1">
				  			<img src="$link.contextPath/UPLOAD/$!message.consultant.photo" class="img-rounded" style="width: 50px;height: 50px;">
				  		</div>
				  		<div class="col-sm-11">
				  			<div class="col-sm-10  text-left" >
					  			<div class="panel panel-default">
								  <div class="panel-body">
								  		<p class="text-primary" style="border-bottom:solid 1px #ddd">咨询者：$messageVO.consultant.name    <span style="float:right;">
								  		创建时间 $date.format("yyyy-MM-dd HH:mm:ss", $messageVO.message.gmtCreate)</span></p>
								  		$messageVO.message.message
								  </div>
								</div>
							</div>
				  		</div>
				  	</div>
		  		#elseif($messageVO.message.creatorRole==1)
			  		<div class="col-sm-12">
				  		<div class="col-sm-11">
				  			<div class="col-sm-10  text-right col-sm-offset-2" >
					  			<div class="panel panel-default">
								  <div class="panel-body">
								  		<p class="text-primary" style="border-bottom:solid 1px #ddd">我 <span style="float:left;">
								  		创建时间 $date.format("yyyy-MM-dd HH:mm:ss", $messageVO.message.gmtCreate)</span></p>
								  		$messageVO.message.message
								  </div>
								</div>
							</div>
				  		</div>
				  		<div class="col-sm-1">
				  			<img src="$link.contextPath/UPLOAD/$!messageVO.counselor.photo" class="img-rounded" style="width: 50px;height: 50px;">
				  		</div>				  		
				  	</div>
		  		#end
		  	#end
		  	#if($interview.step<5)
		  	<form id="sendMessageForm">
			<div class="col-sm-12">
				<hr/>
                <script type="text/plain" id="myEditor" name="message" style="width:100%;height:200px;">$!article.content</script>
                <script type="text/javascript">
				    $(function(){
				        window.um = UM.getEditor('myEditor', {
				            /* 传入配置参数,可配参数列表看umeditor.config.js */
				            toolbar: ['undo redo | bold italic underline']
				        });
				    });
                </script>   
                <br/>
                <input type="hidden" name="creatorRole" value="1"/>
                <input type="hidden" name="creator"  value="$counselorVO.counselor.id"/>
                <input type="hidden" name="relId" value="$interview.id"/>
			   <button type="button" class="btn btn-danger col-sm-2" style="float:right;" onclick="sendMessage()">留言</button>
		  	</div>
		  	</form>
		  	#end
		</div>
		</div>
	</div>
</div>

<div class="modal" id="confirmInterview">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">请确认您的面试并仔细阅读下列条款</h4>
      </div>
      <div class="modal-body">
      	<ol>
		  <li>请在规定的时间完成您的咨询，如果您逾期不能完成咨询，会取消您的咨询和留下记录</li>
		  <li>请遵守相关规定，不要泄露任何可能存在法律和保密纠纷的信息给咨询者</li>
		  <li>如果您和您的咨询者在平台上产生的任何纠纷，本平台不承担法律责任</li>
		  <li>您的咨询费用必须在完成咨询后且咨询者未提起申述的情况下完成</li>
		</ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">不同意</button>
        <button type="button" class="btn btn-primary">同意上述事项</button>
      </div>
    </div>
  </div>
</div>

<script>
	function confirmRules(){
		jQuery.ajax({
             type: "POST",
             url: "$link.contextPath/counselor/confirmRules.json",
             data: {
             		'interviewId':$('#interviewIdHidden').val()
             		},
             dataType: "json",
             success: function(data){
             	if(data.result.success==true){
             		window.location.href=window.location.href;
             	}else{
             		alert("确认失败 "+data.result.message);
             	}
              }
         });
	}
		
	function scheduleInterview(){
		jQuery.ajax({
             type: "POST",
             url: "$link.contextPath/counselor/scheduleInterview.json",
             data: {
             		'interviewId':$('#interviewIdHidden').val(),
             		'scheduleBegin':$('#scheduleBeginHidden').val(),
             		'scheduleEnd':$('#scheduleEndHidden').val()
             		},
             dataType: "json",
             success: function(data){
             	if(data.result.success==true){
             		window.location.href=window.location.href;
             	}else{
             		alert("发送失败"+data.result.message);
             	}
              }
         });
	}
    $('.date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        format: "yyyy-MM-dd hh:ii",
        todayBtn:  1,
        showMeridian: true,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1,
    });

    
    
	function sendMessage(){
		jQuery.ajax({
             type: "POST",
             url: "$link.contextPath/sendInterviewShotMessage.json",
             data: $('#sendMessageForm').serialize(),
             dataType: "json",
             success: function(data){
             	if(data.result.success==true){
             		window.location.href=window.location.href;
             	}else{
             		alert("发送失败"+data.result.message);
             	}
              }
         });
	}
</script>
