#set($counselorVO=$session.getAttribute("SESSION_COUNSELOR_OBJECT"))
#parse("counselor/counselorGuide.vm") 
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            	基本信息  
            	<a style="float:right;" href="$link.contextPath/counselor/editPersonalInfo.htm"><span class="glyphicon glyphicon-edit">修改个人信息</span></a>
            </div>
            <div class="panel-body">
				<div class="col-sm-12" >
					<div class="col-sm-3">
					 	 <img src="$link.contextPath/$fileUtil.getPath($!counselorVO.counselor.photo)" style="width: 120px;" class="img-rounded">
					</div>
					<div class="col-sm-9">
							<div class="col-sm-12" >
								<p class="col-sm-3">
								 	注册邮箱:
								</p>
								<p class="col-sm-8">
									$!counselorVO.counselor.email
								</p>
							</div>		
							<div class="col-sm-12" 	style="border-top:solid 1px #ddd">
								<p class="col-sm-3">
								 	手机号码:
								</p>
								<p class="col-sm-8">
									$!counselorVO.counselor.mobile
								</p>
							</div>	
							<div class="col-sm-12" 	style="border-top:solid 1px #ddd">
								<p class="col-sm-3">
								 	真实姓名:
								</p>
								<p class="col-sm-8">
									$!counselorVO.counselor.name
								</p>
							</div>
							<div class="col-sm-12" 	style="border-top:solid 1px #ddd">
								<p class="col-sm-3">
								 	公司名称:
								</p>
								<p class="col-sm-8">
									$!counselorVO.company.name
								</p>
							</div>	
							<div class="col-sm-12" 	style="border-top:solid 1px #ddd">
								<p class="col-sm-3">
								 	部门名称:
								</p>
								<p class="col-sm-8">
									$!counselorVO.counselor.department
								</p>
							</div>	
							<div class="col-sm-12" 	style="border-top:solid 1px #ddd">
								<p class="col-sm-3">
								 	所在城市:
								</p>
								<p class="col-sm-8">
									$!counselorVO.counselor.city
								</p>
							</div>																				
					</div>
				</div>					
       	 	</div>
    	</div>
    </div>	    
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            	个人简介 
            </div>
            <div class="panel-body">
				<div class="col-sm-12">
					<p>$!counselorVO.counselor.description</p>
				</div>					
       	 	</div>
    	</div>
    </div>	    
</div>
	