#set($counselorVO=$session.getAttribute("SESSION_COUNSELOR_OBJECT"))
#parse("counselor/counselorGuide.vm")
<form id="queryAccountPersonalForm" action="$link.contextPath/counselor/personalAccount.htm" method="GET">
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-body">
			  	当前余额：<span style="font-size:38px;color:#9966cc">#if($account.currentMoney) $account.currentMoney #else 0 #end </span>元 
			  	冻结中：<span style="font-size:20px;color:#9966cc">#if($account.currentMoney) $account.currentMoney #else 0 #end   </span>元      
			  	<a>充值</a>  <a>转到支付宝</a>
	      </div>   
  		</div>
	</div>
</div>

<input type="hidden" name="pageSize" value="$!pageList.getPageSize()"/>
<input type="hidden" name="pageNo"   value="$!pageList.getPageNo()" id="pageNoHidden"/>
<input type="hidden" name="transType"  value="$transType" id="transTypeHidden"/>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
        	<br/>
			<ul class="nav nav-tabs nav-justified" role="tablist">
				<li #if($transType==2) class="active"  #end><a href="javascript:void(0)"  onclick="queryRecords(1,2);">咨询收入</a></li>
		  		<li #if($transType==8) class="active"  #end><a href="javascript:void(0)"  onclick="queryRecords(1,8);">提出记录</a></li>
			</ul>  
            <div class="panel-body">
            	#if($pageList && $pageList.data)	            	
					<table class="table table-striped table-hover ">
						  <thead>
						    <tr>
						      <th width="10%">ID</th>
						      <th width="10%">类型</th>
						      <th width="50%">描述</th>
						      <th width="10%">金额</th>
						      <th width="20%">时间</th>
						    </tr>
						  </thead>
						  <tbody>
						  #foreach($accountRecord in $pageList.data)
	            			
						    <tr>
						      <td>$accountRecord.id</td>
						      <td>#if($accountRecord.chargeType==1) 支出 #else 转入 #end </td>
						      <td>$accountRecord.detail</td>
						      <td>$accountRecord.money</td>
						      <td>$date.format("yyyy-MM-dd HH:mm:ss", $accountRecord.gmtCreate) </td>
						    </tr>
						    #end
						  </tbody>
					</table> 	            		
				    <div class="col-sm-12">
						<ul class="pagination" style="margin-top:-10px;float:right;">
							#if($pageList.getTotalPageCount()>=1)
								#foreach($index in [1..$pageList.getTotalPageCount()])
									<li><a href="javascript:void(0)" onclick="queryRecords($index)">$index</a></li>
								#end
								<li><a href="javascript:void(0)" >一共有$pageList.getTotalCount()条记录</a></li>
							#end
						</ul>    
				    </div>              	
            	#end
            </div>
        </div>
    </div>
</div>
</form>
<script>
	function queryRecords(index,transType){
		if(transType!=undefined ){
			$('#transTypeHidden').val(transType);
		}	
		$('#pageNoHidden').val(index);
		$('#queryAccountPersonalForm').submit();
	}
</script>
