#set($counselorVO=$session.getAttribute("SESSION_COUNSELOR_OBJECT"))
#parse("counselor/counselorGuide.vm") 
<div class="row">
	<div class="col-sm-12">
		<div class="alert alert-dismissable alert-warning">
		   如果您需要修改个人信息，请单击右边的信息修改
		   <a style="float:right;" href="$link.contextPath/counselor/editPersonalInfo.htm"><span class="glyphicon glyphicon-edit">修改个人信息</span></a>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            	基本信息  
            </div>
            <div class="panel-body">
				<div class="col-sm-12" >
					<div class="col-sm-4">
					 	 <img src="$link.contextPath/UPLOAD/$!counselorVO.counselor.photo" style="width: 160px;" class="img-rounded">
					</div>
					<div class="col-sm-8">
							<div class="col-sm-12" >
								<div class="col-sm-3">
								 	<h4 style="text-align:right">注册邮箱</h4>
								</div>
								<div class="col-sm-8">
									<p style="padding-top:12px;">$!counselorVO.counselor.email</p>
								</div>
							</div>		
							<div class="col-sm-12" 	style="border-top:solid 1px #ddd">
								<div class="col-sm-3">
								 	<h4 style="text-align:right">手机号码</h4>
								</div>
								<div class="col-sm-8">
									<p style="padding-top:12px;">$!counselorVO.counselor.mobile</p>
								</div>
							</div>	
							<div class="col-sm-12" 	style="border-top:solid 1px #ddd">
								<div class="col-sm-3">
								 	<h4 style="text-align:right">真实姓名</h4>
								</div>
								<div class="col-sm-8">
									<p style="padding-top:12px;">$!counselorVO.counselor.name</p>
								</div>
							</div>
							<div class="col-sm-12" 	style="border-top:solid 1px #ddd">
								<div class="col-sm-3">
								 	<h4 style="text-align:right">公司名称</h4>
								</div>
								<div class="col-sm-8">
									<p style="padding-top:12px;">$!counselorVO.company.name</p>
								</div>
							</div>							
					</div>
				</div>					
       	 	</div>
    	</div>
    </div>	    
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            	个人简介 
            </div>
            <div class="panel-body">
				<div class="col-sm-12" >
					$!counselorVO.counselor.description
				</div>					
       	 	</div>
    	</div>
    </div>	    
</div>
	