#set($counselorVO=$session.getAttribute("SESSION_COUNSELOR_OBJECT"))
#parse("counselor/counselorGuide.vm")    
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">	
            	我提供的服务
            </div>
            <div class="panel-body">
				  #foreach($serviceConfig in $counselorVO.serviceConfigs)
				  	#set($service=$application.getAttribute("serviceMap").get("$serviceConfig.serviceId"))	
					<div class="panel panel-default">
			                <div class="panel-body">
			                		<div class="col-sm-1" style="font-size:30px;">
			                			<strong>$foreach.count</strong>
			                		</div>
			                		<div class="col-sm-2">
			                		 		<img src="$link.contextPath/$fileUtil.getPath($!service.photo)" class="img-thumbnail" style="width:72px;height:72px;"/>
			                		</div>
			                		<div class="col-sm-9" style="border-left:solid 1px #ddd">
		                                <div class="col-lg-12">
                            			  <p  style="border-bottom:solid 1px #ddd">
		                                	<span class="glyphicon glyphicon-tag"></span>$service.name
		                                	#if($service.id!=1)	
		                                	<a href="javascript:void(0)"  style="float:right;"
									      		onclick="deleteService($serviceConfig.id)">
									      			<span class="glyphicon glyphicon-remove-sign"></span>删除
									      	</a>
									      	#end
	                                		</P>
	                                	</div>
										<div class="col-lg-12">
											#set($scheduleType=$enumUtil.getByValue("com.ccconsult.enums.ScheduleTypeEnum",$service.scheduleType))
											#if($service.scheduleType==1)
												预约时间：#foreach($time in $scheduleTimeUtil.getSchuleTime($serviceConfig.workOnTime))
													<span style="margin:3px;border:solid 1px #ddd;border-radius:3px;">$scheduleTimeUtil.getScheduleMap().get($time)</span> 
												#end											
											#else
												预约类型：$scheduleType.getDescription()<br/>
											#end	
										  </div>
										<div class="col-lg-12">  
											<small>ID:$serviceConfig.id 
		                                		<span ><span class="glyphicon glyphicon-time"></span> 创建时间:$date.format("yyyy-MM-dd HH:mm:ss", $serviceConfig.gmtCreate)
		                                	</small>				
	                                	</div>						  
								  	</div>							  	
			                </div>		          
		            </div>
				  #end					              
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">	
            	可签约服务列表
            </div>
            <div class="panel-body">
            #set($serviceList=$application.getAttribute("serviceList"))
 			#foreach($service in $serviceList)
					<div class="panel panel-default">
			                <div class="panel-body">
			                		<div class="col-sm-1" style="font-size:30px;">
			                			<strong>$foreach.count</strong>
			                		</div>
			                		<div class="col-sm-2">
			                		 		<img src="$link.contextPath/$fileUtil.getPath($!service.photo)" class="img-thumbnail" style="width:72px;height:72px;"/>
			                		</div>
			                		<div class="col-sm-9" style="border-left:solid 1px #ddd">
		                                <div class="col-lg-12">
                            			  <p  style="border-bottom:solid 1px #ddd">
		                                	<span class="glyphicon glyphicon-tag"></span>$service.name
		                                	<small><a target="_blank" href="$link.contextPath/article.htm?articleId=$service.introArticleId">规则详情</a></small>
		                                	#if($service.id!=1)	
											<a href="$link.contextPath/counselor/addService.htm?serviceId=$service.id" style="float:right">
				      							<span class="glyphicon glyphicon-plus-sign"></span>添加</a>
									      	#end
	                                		</p>
	                                	</div>
										<div class="col-lg-12">
											#set($scheduleType=$enumUtil.getByValue("com.ccconsult.enums.ScheduleTypeEnum",$service.scheduleType))
												<strong>预约类型：</strong><span style="font-size:18px;color:red">$scheduleType.getDescription()</span>   
												<strong>薪酬信息：</strong><span style="font-size:18px;color:red">$service.priceRegion</span>元/次（时段）
										  </div>
										<div class="col-lg-12">  
											<small>ID:$service.id 
		                                		<span ><span class="glyphicon glyphicon-time"></span> 创建时间:$date.format("yyyy-MM-dd HH:mm:ss",$service.gmtCreate)
		                                	</small>				
	                                	</div>						  
								  	</div>							  	
			                </div>		          
		            </div>
				  #end			
            </div>
        </div>
    </div>
</div>
<script>
	function deleteService(serviceConfigId){
	 if(confirm("请确认你要您所提供的服务吗，删除服务不影响您已经在处理中的记录？")){
		jQuery.ajax({
             type: "POST",
             url: "$link.contextPath/counselor/removeService.json",
             data: {'serviceConfigId':serviceConfigId},
             dataType: "json",
             success: function(data){
             	if(data.result.success==true){
             		window.location.reload();
             	}else{
             		alert("删除失败"+data.result.message);
             	}
              }
         });
     }
	}	
</script>