#set($consultant=$session.getAttribute("SESSION_CONSULTANT_OBJECT"))
<link href="$link.contextPath/STATIC/plugin/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/umeditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/umeditor.js"></script>
<!-- 语言包文件(建议手动加载语言包，避免在ie下，因为加载语言失败导致编辑器加载失败) -->
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/lang/zh-cn/zh-cn.js"></script>  

#if(!$result.success)
<div class="alert alert-dismissable alert-danger">
  <h2>请注意</h2>
  <p>$result.message</p>
</div>	
#else
<form  id="appriseConsultForm">
<div class="row">
	<div class="col-sm-12">
	<div class="alert alert-dismissable alert-warning">
	   <strong>咨询已经完成</strong><br/>
	  请对咨询师的服务进行评价，请公正认真的对您的咨询师做出评价
	</div>
	</div>
</div>

#parse("consultant/consult/common/consultCounselorCommon.vm")
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-body">
		  	<input type="radio" name="apprise"  value="1" checked>
            非常好
            <input type="radio" name="apprise"  value="2">
            还不错
            <input type="radio" name="apprise"  value="3">
            一般般
            <input type="radio" name="apprise"  value="4">
            简直不敢恭维
		  </div>
		 </div>
	</div>
</div>		  
<div class="row">
	<div class="col-sm-12">
        <script type="text/plain" id="myEditor" name="memo" style="width:100%;height:200px;"></script>
        <script type="text/javascript">
		    $(function(){
		        window.um = UM.getEditor('myEditor', {
		            /* 传入配置参数,可配参数列表看umeditor.config.js */
		            toolbar: ['undo redo | bold italic underline']
		        });
		    });
        </script>   
        <br/>
        <input type="hidden" name="relId" value="$!consult.id"/>
        <button type="button" class="btn btn-danger col-sm-2" style="float:right;" onclick="appriseConsult()">完成评价</button>
        <a href="javascript:history.go(-1)" target=_self class="btn btn-link" style="float:right;">返回记录</a>
	</div> 	  	
</div>
</form>
<script>
	function appriseConsult(){
		
		jQuery.ajax({
             type: "POST",
             url: "$link.contextPath/consultant/consult/appriseConsult.json",
             data: $('#appriseConsultForm').serialize(),
             dataType: "json",
             success: function(data){
             	if(data.result.success==true){
             		history.go(-1);
             	}else{
             		alert("评价失败"+data.result.message);
             	}
              }
         });
	}
</script>
#end
