<script src="$link.contextPath/STATIC/js/fileinput.js"></script>
<link rel="stylesheet" href="$link.contextPath/STATIC/css/fileinput.css"/>
#parse("consultant/consultantGuide.vm")
<div class="alert alert-dismissable alert-success">
	#parse("consultant/consult/common/consultBaseInfoCommon.vm")
	#if($consultBase.consult.step==1)
	  	<p class="text-primary">
	  	请耐心等待咨询师确认，咨询师确认后我们会邮件通知您进行支付并完成服务，请仔细关注您的邮件信息</p>	
	#end
	#if($consultBase.consult.step==2)
	  	<p class="text-primary">您的咨询会在3天内有效，如果到期您未支付咨询费，您的咨询会被关闭</p>	
	#end	
	#if($consultBase.consult.step==3)
	  	<p class="text-primary">咨询师会在3天内完成您简历的修改咨询，修改完成后我们会邮件通知您</p>	
	#end	
</div>
#parse("consultant/consult/common/consultCounselorCommon.vm")
#if($consultBase.consult.step!=1)
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-bookmark"></span>咨询师区域  
		  #if($consultBase.resumeConsult.review && $consultBase.consult.step==2)	
		  <a href="javascript:void(0)" onclick="showReviewArea()" style="float:right"><span class="glyphicon glyphicon-edit"></span>修改review信息</a>
		  #end
		  </div>
		  <div class="panel-body">
					#if($consultBase.resumeConsult.review)
			  		<div class="col-sm-12 showReviewResumeArea">	
				  		$!consultBase.resumeConsult.review
			  		</div>
				  	<div class="col-sm-12 showReviewResumeArea">
					  <table class="table" style="margin-bottom:0px;">
					    <tr>
					      <td width="20%"><span class="glyphicon glyphicon-paperclip"></span>批注的简历文件</td>
					      <td width="80%"><span class="glyphicon glyphicon-download-alt"></span><a target="_blank" href="$link.contextPath$fileUtil.getPath($consultBase.resumeConsult.reviewFiles)" >$fileUtil.getFileName($consultBase.resumeConsult.reviewFiles)</a>
					      <small>请点击下载或直接阅览</small></td>
					    </tr>
					  </table>
				  	</div>
				  	#else
				  	对不起咨询师没有对您的简历做任何操作
				  	#end
  			</div>
  		</div>
	</div>
</div>
#end
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-bookmark"></span>咨询问题描述</div>
		  <div class="panel-body">
			  	<div class="col-lg-12">	
			  		$consultBase.consult.goal
		  		</div>
			  <div class="col-lg-12">
			  <table class="table" style="margin-bottom:0px;">
			    <tr>
			      <td width="20%"><span class="glyphicon glyphicon-paperclip"></span>上传的简历文件</td>
			      <td width="80%"><span class="glyphicon glyphicon-download-alt"></span><a target="_blank" href="$link.contextPath$fileUtil.getPath($consultBase.resumeConsult.resumeFiles)" >$fileUtil.getFileName($consultBase.resumeConsult.resumeFiles)</a>
			      <small>请点击下载或直接阅览</small></td>
			    </tr>
			  </table>
			  </div>
	      </div>   
  		</div>
	</div>
</div>
#parse("consultant/consult/common/consultMessageCommon.vm")
#parse("consultant/consult/common/consultAppraiseCommon.vm")