#set($consultant=$session.getAttribute("SESSION_CONSULTANT_OBJECT"))
#if($result && !$result.success)
<div class="alert alert-dismissable alert-danger">
	$result.message
</div>	
#else
#set($serviceConfig=$consultBase.serviceConfig)
#set($service=$application.getAttribute("serviceMap").get("$serviceConfig.serviceId"))
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
				<div class="alert alert-dismissable alert-warning">	
						 <h3>恭喜您，成功创建了一次咨询请求</h3>
						<div class="panel panel-default">
							  <div class="panel-body">		  
									<div class="col-sm-12" >
											<div class="col-sm-2">
												<a href="$link.contextPath/serviceInfo.htm?serviceId=$service.id"><img src="$link.contextPath/$fileUtil.getPath($service.photo)"
												style="width:90px;height:90px; float:left" class="img-rounded">
												</a>
											</div>
											<div class="col-sm-9">
											<blockquote>
											  	<p class="text-success" style="font-size:16px;">$service.description</p>
											  <small>$service.name</small>
											</blockquote>
											</div>
									</div>
							  </div>
						</div>	
						  <p class="text-primary" style="font-size:18px">			  	
						  	#if($consultBase.consult.payTag==2)
						  		您的服务无需预约，请耐心等待您的咨询师回答您的问题
						  	#else
						  		请耐心等待您的咨询师和您预约时间，咨询师预约完成后我们会通过邮件的方式通知您，请注意查收您的邮箱
						  	#end
						  	<hr/>
						 		<small>有效期<span class="glyphicon glyphicon-dashboard"></span>
						 			$date.format("yyyy-MM-dd HH:mm:ss",$consultBase.consult.gmtCreate)
						 			 <span class="glyphicon glyphicon-minus"></span> 
						 			 $date.format("yyyy-MM-dd HH:mm:ss", $consultBase.consult.gmtEffectEnd) 	
						  		超过该时间后，该咨询会自动关闭	</small>
						  		<br/>
						  		<a  style="float:right" class="btn btn-primary" href="$link.contextPath/consultant/consultantSelf.htm" ><span class="glyphicon glyphicon-globe"></span>  转到我的预约</a>
						  		<br/>	
						  		...	  	
				  		  </p> 		  
					</div>
				#end
            </div>
        </div>
    </div>
</div>