#set($consultant=$session.getAttribute("SESSION_CONSULTANT_OBJECT"))
<link href="$link.contextPath/STATIC/plugin/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/umeditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/umeditor.js"></script>
<!-- 语言包文件(建议手动加载语言包，避免在ie下，因为加载语言失败导致编辑器加载失败) -->
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/lang/zh-cn/zh-cn.js"></script>  
#if(!$result || !$result.success)
		$result.message
#else
#set($serviceConfigVO=$result.object)
<form  id="createInnerConsultForm">
<input type="hidden" name="counselorId" value="$serviceConfigVO.serviceConfig.counselorId"/>
<input type="hidden" name="consultantId" value="$consultant.id"/>
<input type="hidden" name="serviceId" value="$serviceConfigVO.serviceConfig.id" />
<div class="alert alert-dismissable alert-warning">
  <h4>欢迎您创建$serviceConfigVO.service.name请求</h4>
  <p>请仔细阅读我们的服务流程，以便于您的使用，咨询师回答您的问题后，我们会邮件通知您</p>
  <p>
	  <a class="btn btn-primary btn-sm disabled">创建预约请求</a>
	  <span class="glyphicon glyphicon-arrow-right"></span>
	  <a  class="btn btn-default btn-sm  disabled">咨询师回答</a>
	  <span class="glyphicon glyphicon-arrow-right"></span>
	  <a  class="btn btn-default btn-sm disabled">咨询者评价</a>
	  <span class="glyphicon glyphicon-arrow-right "></span>
	  <a  class="btn btn-sm disabled">
	   <span class="glyphicon glyphicon-ok"></span>
	  </a>
  </p>
  <p class="text-primary">请严格遵守本网服务须知，不要在咨询中询问或透漏任何涉及商业机密的信息！.</p>
</div>
 
#if($result && !$result.success)
<div class="row">
	<div class="col-sm-12">
		<div class="alert alert-dismissable alert-danger" style="margin:0px 0px 0px 0px">
		  <button type="button" class="close" data-dismiss="alert">×</button>
		  $result.message
		</div>
	</div>     
</div>
#end          
<div class="row" id="messageArea">
    <div class="col-sm-12">
        <script type="text/plain" id="myEditor" name="goal" style="width:100%;height:260px;"></script>
        <script type="text/javascript">
	        $(function(){
	            window.um = UM.getEditor('myEditor', {
	                /* 传入配置参数,可配参数列表看umeditor.config.js */
	                toolbar: ['undo redo | bold italic underline']
	            });
	        });
        </script>   
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm-12" style="text-align:right">
    	<a  href="$link.contextPath/counselorInfo.htm?counselorId=$serviceConfigVO.serviceConfig.counselorId"   class="btn btn-link" >  返回咨询师详情</a>
		<a  class="btn btn-primary" onclick="createInnerConsult()" >  创建咨询请求</a>
    </div>
</div>
</form>
<script>
	function createInnerConsult(){
		jQuery.ajax({
             type: "POST",
             url: "$link.contextPath/consultant/consult/createInnerConsult.json",
             data: $('#createInnerConsultForm').serialize(),
             dataType: "json",
             success: function(data){
             	if(data.result.success==true){
             		window.location.href="$link.contextPath/consultant/consult/innerConsult.htm?consultId="+data.result.object.id
             	}else{
             		alert("创建失败"+data.result.message);
             	}
              }
         });
	}
</script>
#end