#set($consultant=$session.getAttribute("SESSION_CONSULTANT_OBJECT"))
#set($serviceConfig=$consultBase.serviceConfig)
#set($service=$application.getAttribute("serviceMap").get("$serviceConfig.serviceId"))
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
				<div class="alert alert-dismissable alert-warning">	
						<h2>您当前已创建的一笔咨询请求#if($consultBase.consult.payTag==2)已经完成支付#else等待支付#end</h2>
						<div class="panel panel-default">
							  <div class="panel-body">		  
									<div class="col-sm-12" >
											<div class="col-sm-2">
												<a href="$link.contextPath/serviceInfo.htm?serviceId=$service.id"><img src="$link.contextPath/$fileUtil.getPath($service.photo)"
												style="width:90px;height:90px; float:left" class="img-rounded">
												</a>
											</div>
											<div class="col-sm-9">
											<blockquote>
											  	<p class="text-success" style="font-size:16px;">$service.description</p>
											  <small>$service.name</small>
											</blockquote>
											</div>
									</div>
							  </div>
						</div>	
						  <p class="text-primary" style="font-size:18px">			  	
						  	#if($consultBase.consult.payTag==2)
						  		您的服务无需预约，请耐心等待您的咨询师回答您的问题
						  	#else
						  		请在规定时间内完成支付，如果在设定时间之前10分钟仍旧未能完成支付，您的咨询将被取消
						  	#end
				  		  </p> 
							<p style="text-align:right;border-top:solid 1px #ddd;padding-top:4px;">
						  	#if($consultBase.consult.step==1 && $consultBase.consult.payTag!=2)
						  		<a class="btn btn-sm btn-primary" href="javascript:void(0)" onclick="payForConsult($consultBase.consult.id)"> <span class="glyphicon glyphicon-copyright-mark"></span> 去支付</a>
						  	#end
						  	<a class="btn btn-link" href="$link.contextPath/consultant/consultantSelf.htm" > 转到我的预约</a>
						  	</p>
					 		<small>有效期<span class="glyphicon glyphicon-dashboard"></span>
					 			$date.format("yyyy-MM-dd HH:mm:ss",$consultBase.consult.gmtCreate)
					 			 <span class="glyphicon glyphicon-minus"></span> 
					 			 $date.format("yyyy-MM-dd HH:mm:ss", $consultBase.consult.gmtEffectEnd) 	
					  		超过该时间后，该咨询会自动关闭	</small>					  				  		   
					</div>
            </div>
        </div>
    </div>
</div>
<script>
	//完成请求
	function payForConsult(consultId){
		jQuery.ajax({
             type: "POST",
             url: "$link.contextPath/consultant/consult/payTempForConsult.json",
             data: {'consultId':consultId},
             dataType: "json",
             success: function(data){
             	if(data.result.success==true){
					$.Zebra_Dialog('支付成功！');
             		setInterval(function(){
             			window.location.href="$link.contextPath/consultant/consultantSelf.htm"
					},2000);										
             	}else{
					$.Zebra_Dialog('<strong>请注意</strong>, '+data.result.message, {
					    'type':     'error',
					    'title':    '对不起，操作失败'
					});				             	
             	}
              }
         });
	}
</script>