<script src="$link.contextPath/STATIC/js/fileinput.js"></script>
<link rel="stylesheet" href="$link.contextPath/STATIC/css/fileinput.css"/>
#parse("consultant/consultantGuide.vm")
<div class="alert alert-dismissable alert-success">
	#parse("consultant/consult/common/consultBaseInfoCommon.vm")
	#if($consultBase.consult.step==1)
	  	<p class="text-primary">当前记录状态:<span style="font-size:20px;color:red">$enumUtil.getByValue("com.ccconsult.enums.ConsultStepEnum",$consultBase.consult.step).getDescription()</span>
	  	请等待咨询师和您预约时间，咨询师预约后后我们会邮件通知您，请仔细关注您的邮件信息</p>	
	#end
	#if($consultBase.consult.step==2)
		<p class="text-primary">	
		 <strong>恭喜您,当前咨询师已经完成预约</strong> 我们会讲咨询师的信息通过邮件发送给您，请您
		 <a class="btn btn-sm btn-primary" href="$link.contextPath/consultant/consult/payForConsult.htm?consultId=$consultBase.consult.id" class="btn btn-parimary">支付咨询费</a>,支付完成后我们会在额定时间内将咨询师的联系方式和信息发送给您,当前预约的时间如下：
		 <h4><span class="glyphicon glyphicon-dashboard"></span>$date.format("yyyy-MM-dd HH:mm:ss",$consultBase.interviewConsult.gmtScheduleBegin) <span class="glyphicon glyphicon-minus"></span> $date.format("yyyy-MM-dd HH:mm:ss", $consultBase.interviewConsult.gmtScheduleEnd) </h4>	
		</p>	 
	#end 	
	#if($consultBase.consult.step==3)
	  	感谢您的使用，当前本次咨询正在进行中
	#end	
</div>
#parse("consultant/consult/common/consultCounselorCommon.vm")
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-bookmark"></span>咨询问题描述</div>
		  <div class="panel-body">
			  <div class="col-lg-12">
			  <table class="table" style="margin-bottom:0px;">
				<tr>
			      <td width="20%"><span class="glyphicon glyphicon-tag"><strong>说明信息：</strong></span></td>
			      <td width="80%">$consultBase.consult.goal</td>
			    </tr>			  
				<tr>
			      <td width="20%"><span class="glyphicon glyphicon-tag"><strong>目标职位：</strong></span></td>
			      <td width="80%">$consultBase.interviewConsult.targetJobInfo</td>
			    </tr>				    
			    <tr>
			      <td width="20%"><span class="glyphicon glyphicon-paperclip"><strong>上传的简历文件:</strong></span></td>
			      <td width="80%"><span class="glyphicon glyphicon-download-alt"></span><a target="_blank" href="$link.contextPath$fileUtil.getPath($consultBase.interviewConsult.resumeFile)" >$fileUtil.getFileName($consultBase.interviewConsult.resumeFile)</a>
			      <small>请点击下载或直接阅览 </small></td>
			    </tr>
			  </table>
			  </div>
	      </div>   
  		</div>
	</div>
</div>
#parse("consultant/consult/common/consultMessageCommon.vm")
#parse("consultant/consult/common/consultAppraiseCommon.vm")