<script src="$link.contextPath/STATIC/js/fileinput.js"></script>
<link rel="stylesheet" href="$link.contextPath/STATIC/css/fileinput.css"/>
#parse("consultant/consultantGuide.vm")
<div class="alert alert-dismissable alert-info">
	#if($consultBase.consult.step==1)
	  	<p>当前记录状态:<span style="font-size:20px;color:red">$enumUtil.getEnumClass("com.ccconsult.enums.ConsultStepEnum").getByValue($consultBase.consult.step).getDescription()</span>
	  	#if($consultBase.consult.payTag!=2)	你必须<a href="$link.contextPath/consultant/consult/payForConsult.htm?consultId=$consultBase.consult.id" 
	  	class="btn btn-sm btn-primary">支付咨询费用</a>,咨询师才能看到您的信息 #end #if($consultBase.consult.payTag==2) 
	  	请等待咨询师和您预约时间，咨询师预约号时间后我们会邮件通知您，请住哟关注您的邮件信息 #end</p>	
	#end
	#if($consultBase.consult.step==2)
	  	<p>当前记录状态:<span style="font-size:20px;color:red">$enumUtil.getEnumClass("com.ccconsult.enums.ConsultStepEnum").getByValue($consultBase.consult.step).getDescription()</span>
	  		
	  	</p>	
	#end	
</div>
#parse("consultant/consult/common/consultCounselorCommon.vm")
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-bookmark"></span>咨询问题描述</div>
		  <div class="panel-body">
			  	<div class="col-lg-12">	
			  		$consultBase.consult.goal
		  		</div>
			  <div class="col-lg-12">
			  <table class="table" style="margin-bottom:0px;">
			    <tr>
			      <td width="20%"><span class="glyphicon glyphicon-paperclip"></span>上传的简历文件</td>
			      <td width="80%"><span class="glyphicon glyphicon-download-alt"></span><a target="_blank" href="$link.contextPath$fileUtil.getPath($consultBase.resumeConsult.resumeFiles)" >$fileUtil.getFileName($consultBase.resumeConsult.resumeFiles)</a>
			      <small>请点击下载或直接阅览</small></td>
			    </tr>
			  </table>
			  </div>
	      </div>   
  		</div>
	</div>
</div>
#parse("consultant/consult/common/consultMessageCommon.vm")
#parse("consultant/consult/common/consultAppraiseCommon.vm")