#set($consultant=$session.getAttribute("SESSION_CONSULTANT_OBJECT"))
#parse("consultant/consultantGuide.vm")
<script>
	function deleteConsult(consultId){
		if(!confirm("请确认您要删除该记录")){
			return ;
		}
		jQuery.ajax({
             type: "POST",
             url: "$link.contextPath/consultant/deleteConsult.json",
             data: {'consultId':consultId},
             dataType: "json",
             success: function(data){
             	if(data.result.success==true){
             	 	window.location.reload();
             	}else{
					$.Zebra_Dialog('<strong>请注意</strong>,'+data.result.message, {
					    'type':     'error',
					    'title':    '对不起，操作失败'
					});             	
             	}
              }
         });
	}
</script>   
<form id="searchConsultForm" action="$link.contextPath/consultant/consult/searchConsult.htm" method="GET"> 
<input type="hidden" name="pageSize" value="$!result.object.getPageSize()"/>
<input type="hidden" name="pageNo" value="0" id="pageNoHidden"/>
<input type="hidden" name="step" #if($step) value="$step" #else value=1 #end  id="stepHidden"/>
<input type="hidden" name="serviceId" #if($serviceId) value="$serviceId" #end  id="serviceIdHidden"/>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
				<ul class="nav nav-tabs nav-justified" role="tablist">
			  		<li #if($step==1) class="active"  #end><a href="javascript:void(0)"  onclick="queryConsults(1,1);">待支付 	#if($step==1)  <span class="badge">$result.object.data.size()</span>  #end</a></li>
			  		<li #if($step==2) class="active"  #end><a href="javascript:void(0)"  onclick="queryConsults(1,2);">进行中 	#if($step==2)  <span class="badge">$result.object.data.size()</span>  #end</a></li>
			  		<li #if($step==3) class="active"  #end><a href="javascript:void(0)"  onclick="queryConsults(1,3);">咨询完成 	#if($step==3)  <span class="badge">$result.object.data.size()</span>  #end</a></li>
			  		<li #if($step==4) class="active"  #end><a href="javascript:void(0)"  onclick="queryConsults(1,4);">已拒绝 	#if($step==4)  <span class="badge">$result.object.data.size()</span>  #end</a></li>
			  		<li #if($step==5) class="active"  #end><a href="javascript:void(0)"  onclick="queryConsults(1,5);">已过期 	#if($step==5)  <span class="badge">$result.object.data.size()</span>  #end</a></li>
				</ul>  
            </div>
            <div class="panel-body">
    			#if($result && $result.object)
        			#foreach($consultBase in $result.object.data)
        			#set($consult=$consultBase.consult)
        			#set($consultant=$consultBase.consultant)
        			#set($counselorVO=$consultBase.counselorVO)
        			<div class="col-sm-12" id="CONSULT_$consult.id">
			            <div class="panel panel-default">
			                <div class="panel-body">
			                		#set($service=$application.getAttribute("serviceMap").get("$consultBase.serviceConfig.serviceId"))	 
									<div class="col-sm-1" style="font-size:50px;">
			                			<strong>$foreach.count</strong>
			                		</div>
			                		<div class="col-sm-2">
			                		 		<img src="$link.contextPath/$fileUtil.getPath($service.photo)" class="img-thumbnail" style="width:72px;height:72px;"/>
			                		</div>		
			                		<div class="col-sm-9" style="border-left:solid 1px #ddd">
			                			<div class="col-lg-12">
			                                <p  style="border-bottom:solid 1px #ddd">
			                                	<span href="#"><span class="glyphicon glyphicon-tag"></span>咨询类型：$service.name</span>
			                                	<a  class="btn btn-link btn-xs" style="float:right;margin-left:4px;"  href="$link.contextPath/consultant/consult/go${service.code}.htm?consultId=$consultBase.consult.id"><span class="glyphicon glyphicon-file"></span> 详情...</a>
			                                	#if($consult.step<2)
			                                	<a  class="btn btn-link btn-xs" style="float:right" onclick="deleteConsult($consultBase.consult.id)"><span class="glyphicon glyphicon-remove"></span> 删除</a>
		                                		#end
		                                	</p>
	                                	</div>
	                                	<div class="col-lg-12">
										<p>
											  <a  class="btn  btn-xs btn-success disabled col-sm-2" style="margin-right:4px;">创建预约<span class="glyphicon glyphicon-arrow-right"></span></a>
									  			#if($consult.step==1)
									  				<a  href="$link.contextPath//consultant/consult/createSuccess.htm?consultId=$consultBase.consult.id" class="btn btn-primary  col-sm-2 btn-xs " style="margin-right:4px;">支付咨询费 <span class="glyphicon glyphicon-arrow-right"></a>
										   			<a  class="btn btn-default disabled col-sm-2 btn-xs" style="margin-right:4px;">咨询进行中 <span class="glyphicon glyphicon-arrow-right"></a>
										   			<a  class="btn btn-default disabled col-sm-2 btn-xs" style="margin-right:4px;">咨询完成 <span class="glyphicon glyphicon-arrow-right"></a>
										   	  	#end
									  			#if($consult.step==2)
										   			<a  class="btn btn-primary  col-sm-2 btn-xs" style="margin-right:4px;" 
										   			href="$link.contextPath/consultant/consult/go${service.code}.htm?consultId=$consultBase.consult.id"
										   			>咨询进行中 <span class="glyphicon glyphicon-arrow-right"></a>
										   			<a  class="btn btn-default disabled col-sm-2 btn-xs" style="margin-right:4px;">咨询完成 <span class="glyphicon glyphicon-arrow-right"></a>
										   	  	#end										   	  	
											   	#if($consult.step==3)
									  				<a  class="btn btn-success disabled col-sm-2 btn-xs " style="margin-right:4px;">支付咨询费 <span class="glyphicon glyphicon-arrow-right"></a>
										   			<a  class="btn btn-primary disabled col-sm-2 btn-xs" style="margin-right:4px;">咨询进行中 <span class="glyphicon glyphicon-arrow-right"></a>
										   			<a  class="btn btn-default disabled col-sm-2 btn-xs" style="margin-right:4px;">咨询完成 <span class="glyphicon glyphicon-arrow-right"></a>
											   	#end
											   	#if($consult.step==4)
									  				<a  class="btn btn-success disabled col-sm-2 btn-xs " style="margin-right:4px;">支付咨询费 <span class="glyphicon glyphicon-arrow-right"></a>
										   			<a  class="btn btn-success disabled col-sm-2 btn-xs" style="margin-right:4px;">咨询进行中 <span class="glyphicon glyphicon-arrow-right"></a>
										   			<a  class="btn btn-success disabled col-sm-2 btn-xs" style="margin-right:4px;">咨询完成 <span class="glyphicon glyphicon-arrow-right"></a>										  
											    #end
											   	#if($consult.step==5)
													<a  class="btn btn-success disabled col-sm-2 btn-xs " style="margin-right:4px;">已过期 <span class="glyphicon glyphicon-arrow-right"></a>
											    #end
									   			#if($consult.step==6)
										   			<a  class="btn btn-success disabled col-sm-2 btn-xs" style="margin-right:4px;">已拒绝 <span class="glyphicon glyphicon-arrow-right"></a>										  
											    #end	
									   			#if($consult.step==7)
													<a  class="btn btn-success disabled col-sm-2 btn-xs " style="margin-right:4px;">已删除<span class="glyphicon glyphicon-arrow-right"></a>
											    #end												    											    											    
										  </p>
										</div>  
									  	<div class="col-lg-12">
	                                	<small>ID:$consultBase.consult.id 
	                                		<span class="glyphicon glyphicon-user"></span>
	                                			<a href="$link.contextPath/counselorInfo.htm?counselorId=$consultBase.counselorVO.counselor.id"> 咨询师：$consultBase.counselorVO.counselor.name</a>
	                                		<span ><span class="glyphicon glyphicon-time"></span> 创建时间:$date.format("yyyy-MM-dd HH:mm:ss", $consultBase.consult.gmtCreate)
	                                	</small>
	                                	</div>										  
								  	</div>							  	
			                </div>		          
		                </div>
		            </div>
        			#end
				    <div class="col-sm-12">
						<ul class="pagination" style="margin-top:-10px;float:right;">
							#if($result.object.getTotalPageCount()>=1)
								#foreach($index in [1..$result.object.getTotalPageCount()])
									<li><a href="javascript:void(0)" onclick="queryConsults($index)">$index</a></li>
								#end
								<li><a href="javascript:void(0)" >一共有$result.object.getTotalCount()条记录</a></li>
							#end
						</ul>    
				    </div>        			
        		#else
					 对不起，当前无记录                    		
        		#end
            </div>
        </div>
    </div>
</div>
</form>
<script>
	function queryConsults(index,step,payTag){
		if(step!=undefined ){
			$('#stepHidden').val(step);
		}	
		$('#pageNoHidden').val(index);
		$('#searchConsultForm').submit();
	}
</script>
