<link href="$link.contextPath/STATIC/plugin/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/umeditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/umeditor.js"></script>
<!-- 语言包文件(建议手动加载语言包，避免在ie下，因为加载语言失败导致编辑器加载失败) -->
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/lang/zh-cn/zh-cn.js"></script>  
<script src="$link.contextPath/STATIC/js/fileinput.js"></script>
<link rel="stylesheet" href="$link.contextPath/STATIC/css/fileinput.css"/>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" action="$link.contextPath/backstage/companyEdit.htm?action=save" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <div class="form-group">
                        	<label  class="col-sm-2 control-label">公司名称</label>
                            <div class="col-sm-8">
                                <input type="text" name="name" class="form-control" placeholder="公司名称" value="$!company.name">
                                <input type="hidden" name="id" value="$!company.id" >
                            </div>
                        </div>
                        <div class="form-group">   
                        	<label  class="col-sm-2 control-label">是否置顶</label>                    
                        	<div class="col-sm-6">
                                    <input type="radio" name="topTag" value="1" #if($company.topTag==1) checked #end>
                                    置顶
                                    <input type="radio" name="topTag"  value="2">
                                    不置顶
                            </div>                            
                        </div>                    
                      	<div class="form-group">
                             <label  class="col-sm-2 control-label">公司图片</label>
                            <div class="col-sm-8">
                                 <img  src="$link.contextPath/UPLOAD/$!company.photo" class="img-rounded photoTitle" style="width: 120px;"/><br/>
                                 <a class="photoTitle" href="javascript:void(0)" onclick="$('#fileUploadInput').show();">单击修改您的头像</a><br/>
                            </div>                            
                    	</div>  
                     	<div class="form-group" id="fileUploadInput" style="display:none;">
                             <label  class="col-sm-2 control-label">上传头像</label>
                            <div class="col-sm-8">
                                 <input  type="file" name="localPhoto"  class="file" multiple="false" data-show-upload="false" data-show-caption="true" />
                            </div>	                            
                    	</div> 	                    	
                      	<div class="form-group">
                             <label  class="col-sm-2 control-label">邮箱后缀</label>
                            <div class="col-sm-2">
                             <input type="text" name="mailSuffix" class="form-control" placeholder="邮箱后缀" value="$!company.mailSuffix">
                            </div>                            
                    	</div>    
                      	<div class="form-group">
                             <label  class="col-sm-2 control-label">连接地址</label>
                            <div class="col-sm-8">
                             <input type="text" name="link" class="form-control" placeholder="友情链接" value="$!company.link">
                            </div>                            
                    	</div>                     	                 		
                        <div class="form-group">
                         	<label  class="col-sm-2 control-label">公司介绍</label>
                            <div class="col-sm-10">
                                <script type="text/plain" id="myEditor" name="description" style="width:100%;height:600px;">$!company.description</script>
                                <script type="text/javascript">
                               		var um = UM.getEditor('myEditor');
                                </script>                         
                            </div>
                        </div>
                        <div class="form-group">
                        	<label  class="col-sm-2 control-label"></label>
                            <div class="col-sm-10" >
								<button type="submit" class="btn btn-primary col-sm-2" style="float:right;">保存公司信息</button>                            
                            	<a href="$link.contextPath/backstage/companyList.htm" class="btn btn-link col-sm-2" style="float:right;">返回公司列表</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

