<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-info">
			  <div class="panel-body">		  
			  	<a  href="$link.contextPath/backstage/articleList.htm" class="btn btn-default ">文章管理</a>
				<a  href="$link.contextPath/backstage/companyList.htm" class="btn btn-primary ">公司信息管理</a>
			  </div>
		</div>
	</div>
</div>