#set($counselorVO=$consultBase.counselorVO)
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-user"></span>咨询师信息</div>
		  <div class="panel-body">
                  	<div class="col-sm-2">
                  		<a href="$link.contextPath/counselorInfo.htm?counselorId=$!counselorVO.counselor.id">
                        <img src="$link.contextPath/$fileUtil.getPath($!counselorVO.counselor.photo)" class="img-rounded" style="width: 82px;height: 82px;">
                        </a>
                    </div>
                    <div class="col-sm-5">
	                    <p class="col-sm-12"><strong class=" text-right col-sm-5">咨询师名称:</strong>$!counselorVO.counselor.name</p>
	                    <p class="col-sm-12"><strong class=" text-right col-sm-5">注册邮箱:</strong>$!counselorVO.counselor.email</p>
	                    <p class="col-sm-12"><strong class=" text-right col-sm-5">公司信息:</strong><a href="$link.contextPath/company.htm?companyId=$!counselorVO.company.id">$!counselorVO.company.name</a></p>
                    </div>
                    <div class="col-sm-5">
	                    <p class="col-sm-12"><strong class=" text-right col-sm-5">手机号码</strong>$!counselorVO.counselor.mobile</p>
	                    <p class="col-sm-12"><strong class=" text-right col-sm-5">部门信息</strong>$!counselorVO.counselor.department</p>
                    </div>
                </div>	
  		</div>
	</div>
</div>
