<div class="row" style="border-bottom:solid 1px #ddd">
    <div class="col-sm-6">
        <p class="col-sm-12"><strong class=" text-right col-sm-4">咨询类型:</strong><a herf="$link.contextPath/article.htm?articleId=$!consultBase.serviceConfigVO.service.introArticleId">$!consultBase.serviceConfigVO.service.name</a></p>
        <p class="col-sm-12"><strong class=" text-right col-sm-4">支付状态:</strong>$enumUtil.getEnumClass("com.ccconsult.enums.PayStateEnum").getByValue($consultBase.consult.payTag).getDescription()</p>
        <p class="col-sm-12"><strong class=" text-right col-sm-4">记录验证码:</strong>$consultBase.consult</p>
    </div>
    <div class="col-sm-6">
     	<p class="col-sm-12"><strong class=" text-right col-sm-4">当前状态:</strong>$enumUtil.getByValue("com.ccconsult.enums.ConsultStepEnum",$consultBase.consult.step).getDescription()</p>
        <p class="col-sm-12"><strong class=" text-right col-sm-4">创建时间:</strong>$date.format("yyyy-MM-dd HH:mm:ss", $consultBase.consult.gmtCreate)</p>
        <p class="col-sm-12"><strong class=" text-right col-sm-4">有效期:</strong>$!date.format("yyyy-MM-dd HH:mm:ss", $consultBase.consult.gmtEffectEnd)</p>
    </div>
</div>