<div class="row" style="border-bottom:solid 1px #ddd">
    <div class="col-sm-6">
        <p class="col-sm-12"><strong class=" text-right col-sm-4">咨询类型:</strong><a href="$link.contextPath/serviceInfo.htm?serviceId=$!consultBase.serviceConfigVO.service.id" >$!consultBase.serviceConfigVO.service.name</a></p>
        <p class="col-sm-12"><strong class=" text-right col-sm-4">支付状态:</strong>$enumUtil.getEnumClass("com.ccconsult.enums.PayStateEnum").getByValue($consultBase.consult.payTag).getDescription()</p>
        <p class="col-sm-12"><strong class=" text-right col-sm-4">记录验证码:</strong>$!consultBase.consult.indetityCode</p>
    </div>
    <div class="col-sm-6">
     	<p class="col-sm-12"><strong class=" text-right col-sm-4">当前状态:</strong>$enumUtil.getByValue("com.ccconsult.enums.ConsultStepEnum",$consultBase.consult.step).getDescription()</p>
        <p class="col-sm-12"><strong class=" text-right col-sm-4">创建时间:</strong>$date.format("yyyy-MM-dd HH:mm:ss", $consultBase.consult.gmtCreate)</p>
        <p class="col-sm-12"><strong class=" text-right col-sm-4">有效期:</strong>$!date.format("yyyy-MM-dd HH:mm:ss", $consultBase.consult.gmtEffectEnd)</p>
    </div>
</div>
    #if($consultBase.consult.step==6)
    	<p  style="border-top:solid 1px #ddd" class="text-primary"><span class="glyphicon glyphicon-warning-sign"></span>对不起，咨询师拒绝了您的预约，原因是：$!consultBase.consult.rejectReason</p>
    #end