<script src="$link.contextPath/STATIC/js/fileinput.js"></script>
<link rel="stylesheet" href="$link.contextPath/STATIC/css/fileinput.css"/>
<script src="$link.contextPath/STATIC/js/jquery.form.js"></script>
<link rel="stylesheet" href="$link.contextPath/STATIC/plugin/ueditor/themes/default/css/ueditor.css" type="text/css">
<script type="text/javascript" charset="utf-8" src="$link.contextPath/STATIC/plugin/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="$link.contextPath/STATIC/plugin/ueditor/ueditor.all.js"></script>
<script type="text/javascript" charset="utf-8" src="$link.contextPath/STATIC/plugin/ueditor/lang/zh-cn/zh-cn.js"></script>

#set($counselorVO=$consultBase.counselorVO)
<div class="alert alert-dismissable alert-success">
	<div class="row" style="padding-bottom:4px;">
	    <div class="col-sm-12">   
	    	#if($consultBase.consult.step==2)	
				<a  class="btn btn-primary" href="$link.contextPath/counselor/consult/consultInterviewComplete.htm?consultId=$consultBase.consult.id" >
					 我已经完成咨询 </a>				 	
				<a  class="btn btn-link"  data-toggle="modal" data-target="#rejectConsult" >
					 拒绝咨询 </a>
	    	#end
	    	
	    	<a  class="btn  btn-link" style="float:right"  href="$link.contextPath/ccconsult/article.htm?articleId=$service.id" target="_blank">
	    	<span class="glyphicon glyphicon-question-sign"></span>
					 咨询帮助信息 </a>		
	    	<a  class="btn  btn-link" style="float:right"  onclick="javascript:history.go(-1);" ><span class="glyphicon glyphicon-arrow-left"></span>
					 返回上一页 </a>						
	 	</div>
	</div>
	<hr style="margin:0px;">
	#parse("counselor/consult/common/consultBaseInfoCommon.vm")
</div>
#parse("counselor/consult/common/consultConsultantCommon.vm")

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-bookmark"></span>咨询目标</div>		
		  <div class="panel-body">
			  <table class="table" style="margin-bottom:0px;">
			    <tr>
			      <td width="20%"><span class="glyphicon glyphicon-tag">咨询描述：</span></td>
			      <td width="80%">$consultBase.consult.goal</td>
			    </tr>				  
			    <tr>
			      <td width="20%"><span class="glyphicon glyphicon-paperclip">上传的简历文件：</span></td>
			      <td width="80%"><span class="glyphicon glyphicon-download-alt"></span><a target="_blank" href="$link.contextPath$fileUtil.getPath($consultBase.consultResume.resumeFiles)" >$fileUtil.getFileName($consultBase.consultResume.resumeFiles)</a>
			      <small>请点击下载或直接阅览</small></td>
			    </tr>
			  </table>
	      </div>   
  		</div>
	</div>
</div>
#if($consultBase.consult.step==2)
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-bookmark"></span> 咨询师区域  
		  #if($consultBase.consultResume.review && $consultBase.consult.step==2)	
		  <a href="javascript:void(0)" onclick="showReviewArea()" style="float:right"><span class="glyphicon glyphicon-edit"></span>修改review信息</a>
		  #end
		  </div>
		  <div class="panel-body">
		  		<form id="consultResumeReviewForm" action="$link.contextPath/counselor/consult/consultResumeReview.htm"  method="POST" enctype="multipart/form-data">
					#if($consultBase.consultResume.review)
					  <table class="table showReviewResumeArea" style="margin-bottom:0px;">
				    	<tr>
					      <td width="20%"><span class="glyphicon glyphicon-tag">修改建议：</span></td>
					      <td width="80%">$!consultBase.consultResume.review</td>
					    </tr>					  
					    <tr>
					      <td width="20%"><span class="glyphicon glyphicon-paperclip">批注的简历文件</span></td>
					      <td width="80%"><span class="glyphicon glyphicon-download-alt"></span><a target="_blank" href="$link.contextPath$fileUtil.getPath($consultBase.consultResume.reviewFiles)" >$fileUtil.getFileName($consultBase.consultResume.reviewFiles)</a>
					      <small>请点击下载或直接阅览</small></td>
					    </tr>
					  </table>
				  	#end	
				  	#if($consultBase.consult.step==2)
				  	<div class="#if($consultBase.consultResume.review) hide  #end" id="reviewResumeArea" >			
						<div class="alert alert-dismissable alert-info" style="margin:0px 0px 0px 0px">
						  	<p>请您修改咨询者的简历，或者对他的简历提出建议和意见,只允许上传word文档和pdf文档</p>
						</div>  	
						<br/>
				        <input  type="file" name="localFile"  class="file" multiple="false" data-show-upload="false" data-show-caption="true" />
				        <br/>
					    <script type="text/plain" id="reviewEditor" name="review" style="width:100%;height:200px;">$!consultBase.consultResume.review</script>
				       <script type="text/javascript">
					        var reviewEditor = UE.getEditor('reviewEditor', {
							    toolbars: [
							        ['fullscreen', 'source', 'undo', 'redo', 'bold']
							    ],
							    autoHeightEnabled: true,
							    autoFloatEnabled: true
							});
							
							function showReviewArea(){
								$('.showReviewResumeArea').hide();
								$('#reviewResumeArea').removeClass('hide')
							}
							function uploadResumeReview() {
								var hideForm = $('#consultResumeReviewForm');
								var options = {
									dataType : "json",
									beforeSubmit : function() {
										$('#consultResumeReviewButton').button('loading');
									},
									success : function(result) {
										$('#consultResumeReviewButton').button('reset');
										var data = eval(result);
										if(data.result.success){
											alert('处理成功，请等待页面刷新！');
											window.location.reload();
										}else{
											alert('提交失败：'+data.result.message);
										}
									},
									error : function(result) {
										$('#consultResumeReviewButton').button('reset');
										alert("上传失败");
									}
								};
								hideForm.ajaxSubmit(options);
							}
					    </script>   
					    <br/>
					    <input type="hidden" name="consultId" value="$consultBase.consult.id"/>
				    	<button type="button" id="consultResumeReviewButton" class="btn btn-danger col-sm-2" style="float:right;" onclick="uploadResumeReview()">提交信息</button> 	 					    
				    </div>
				    #end
		    	</form>		    
  			</div>
  		</div>
	</div>
</div>
#end

#parse("counselor/consult/common/consultMessageCommon.vm")
#parse("counselor/consult/common/consultAppraiseCommon.vm")
#parse("counselor/consult/common/consultRejectCommon.vm")
<script>
	//接受预约
	function acceptConsult(consultId){
		jQuery.ajax({
             type: "POST",
             url: "$link.contextPath/counselor/consult/acceptConsult.json",
             data: {'consultId':consultId},
             dataType: "json",
             success: function(data){
             	if(data.result.success==true){
             		window.location.reload();
             	}else{
             		alert("发送失败"+data.result.message);
             	}
              }
         });
	}
	//完成请求
	function completeConsult(consultId){
		jQuery.ajax({
             type: "POST",
             url: "$link.contextPath/counselor/consult/completeConsultResume.json",
             data: {'consultId':consultId},
             dataType: "json",
             success: function(data){
             	if(data.result.success==true){
             		window.location.reload();
             	}else{
             		alert("发送失败"+data.result.message);
             	}
              }
         });
	}
	
</script>