#set($consultant=$session.getAttribute("SESSION_CONSULTANT_OBJECT"))
#parse("counselor/counselorGuide.vm")
#set($counselorVO=$consultBase.counselorVO)
<div class="alert alert-dismissable alert-success">
	#parse("counselor/consult/common/consultBaseInfoCommon.vm")
  	#if($consultBase.consult.step==1)
  			<p class="text-parimary" style="border-top:solid 1px #ddd">	您可以有如下选择：
			<button  class="btn btn-primary btn-xs" onclick="acceptConsult($consultBase.consult.id)"><span class="glyphicon glyphicon-ok"></span> 接受预约</button>
			<button  class="btn btn-default btn-xs" data-toggle="modal" data-target="#rejectConsult" ><span class="glyphicon glyphicon-remove"></span> 拒绝预约</button>
			</p>		
	#end
	#if($consultBase.consult.step==3)
			<p class="text-parimary" style="border-top:solid 1px #ddd">	您可以有如下选择：
			<button  class="btn btn-primary btn-xs" onclick="completeConsult($consultBase.consult.id)"><span class="glyphicon glyphicon-stop"></span> 结束咨询</button>
			</p>
	#end
	#if($consultBase.consult.step==4)
			<p  class="text-parimary" style="border-top:solid 1px #ddd">	您可以有如下选择：
			<button  class="btn btn-primary btn-xs" onclick="completeConsult($consultBase.consult.id)"><span class="glyphicon glyphicon-stop"></span> 评价该次记录</button>
			</p>
	#end
</div>
#parse("counselor/consult/common/consultConsultantCommon.vm")
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-bookmark"></span>咨询问题描述</div>
		  <div class="panel-body">
		  		$consultBase.consult.goal
		  </div>
  		</div>
	</div>
</div>
#parse("counselor/consult/common/consultMessageCommon.vm")
#parse("counselor/consult/common/consultAppraiseCommon.vm")
#if($!consultBase.consult.step==1)
#parse("counselor/consult/common/consultRejectCommon.vm")
#end
<script>
	//接受预约
	function acceptConsult(consultId){
		jQuery.ajax({
             type: "POST",
             url: "$link.contextPath/counselor/consult/acceptConsult.json",
             data: {'consultId':consultId},
             dataType: "json",
             success: function(data){
             	if(data.result.success==true){
             		window.location.reload();
             	}else{
             		alert("发送失败"+data.result.message);
             	}
              }
         });
	}
	
	//完成请求
	function completeConsult(consultId){
		jQuery.ajax({
             type: "POST",
             url: "$link.contextPath/counselor/consult/completeConsult.json",
             data: {'consultId':consultId},
             dataType: "json",
             success: function(data){
             	if(data.result.success==true){
             		window.location.reload();
             	}else{
             		alert("发送失败"+data.result.message);
             	}
              }
         });
	}
	
</script>
