#set($counselorVO=$session.getAttribute("SESSION_COUNSELOR_OBJECT"))
<link href="$link.contextPath/STATIC/plugin/datepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/datepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/datepicker/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

#parse("counselor/counselorGuide.vm")
<div class="alert alert-dismissable alert-success">
	#parse("counselor/consult/common/consultBaseInfoCommon.vm")
  	#if($consultBase.consult.step==1)
  			<p class="text-primary" style="border-top:solid 1px #ddd">	您可以有如下选择：
			<button  class="btn btn-primary btn-xs" onclick="$('#timeScheduleArea').removeClass('hide');"><span class="glyphicon glyphicon-ok"></span> 接受预约</button>
			<button  class="btn btn-warning btn-xs" data-toggle="modal" data-target="#rejectConsult" ><span class="glyphicon glyphicon-remove"></span> 拒绝预约</button>
			</p>
	#end
	#if($consultBase.consult.step==2)
			<p class="text-primary" style="border-top:solid 1px #ddd">	
 			 <strong>恭喜您完成预约</strong> 请等待您的咨询者进行支付，支付后我们会在您预约的时间讲您的联系信息发送给咨询者以完成咨询：
			 <h4><span class="glyphicon glyphicon-dashboard"></span>$date.format("yyyy-MM-dd HH:mm:ss",$consultBase.interviewConsult.gmtScheduleBegin) <span class="glyphicon glyphicon-minus"></span> $date.format("yyyy-MM-dd HH:mm:ss", $consultBase.interviewConsult.gmtScheduleEnd) </h4>	
			</p>
	#end			
	#if($consultBase.consult.step==3)
			<p class="text-primary" style="border-top:solid 1px #ddd">	
 			 请保持您手机的畅通，请在面试完成后向您的咨询者获取<span style="font-size:20px">确认验证码</span>以便于快速确认,您预约的时间如下：
			 <h4><span class="glyphicon glyphicon-dashboard"></span>$date.format("yyyy-MM-dd HH:mm:ss",$consultBase.interviewConsult.gmtScheduleBegin) <span class="glyphicon glyphicon-minus"></span> $date.format("yyyy-MM-dd HH:mm:ss", $consultBase.interviewConsult.gmtScheduleEnd) </h4>
			 您可以有如下选择：<a  class="btn btn-primary btn-xs"  href="$link.contextPath/counselor/consult/interviewConsultComplete.htm?consultId=$consultBase.consult.id"><span class="glyphicon glyphicon-stop"></span> 结束咨询</a>	
			</p>
	#end
#if($consultBase.consult.step==1)
<div class="row hide"  id="timeScheduleArea">
<hr/>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
	            <div class="col-lg-12">
	            	<p class="text-primary">接受预约后请设定预约时间，请再您设定的时间完成你们的咨询，请再咨询完成后双方进行评价完成咨询，你的预约时间最长能够持续7天，如果7天内未完成预约，咨询将被取消，
	            	预约时间中，我们会用邮件通知您并将联系您的方式发给咨询者
	            	<strong>默认时间为3天</strong></p>
	            </div>
            	<div class="col-lg-12">
            	 <div class="panel panel-default">
           			 <div class="panel-body">
	 	            <div class="col-lg-12">
		            	<p class="text-primary">请确认时间</strong></p>
		            </div>
            		<div class="col-lg-5">
		                <span class="glyphicon glyphicon-dashboard"></span>开始时间<br/>
		                <div class="input-group date form_datetime1 col-lg-12" data-date-format="yyyy-MM-dd hh:ii"
		                data-link-field="scheduleBeginHidden">
		                    <input class="form-control" size="16" type="text" value="$today" >
		                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
							<input type="hidden"  id="scheduleBeginHidden" value="$today" />
		                </div>
					</div>
					<div class="col-lg-5">
						<span class="glyphicon glyphicon-dashboard"></span>结束时间<br/>
		                <div class="input-group date form_datetime2 col-lg-12" data-date-format="yyyy-MM-dd hh:ii" 
		                data-link-field="scheduleEndHidden">
		                    <input class="form-control" size="16" type="text" value="$after3day" >
		                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
							<input type="hidden"   id="scheduleEndHidden" value="$after3day" />
		                </div>            
					</div>
					</div>
				</div>	
       	 		</div> 
       	 		<div class="col-lg-12">
       	 			<button type="button" onclick="scheduleInterview()" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-arrow-right" ></span>确认预约</button>
       	 		</div> 	       	 			  
            </div>            
        </div>
    </div>
</div>
#end		
</div>
#parse("counselor/consult/common/consultConsultantCommon.vm")
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-bookmark"></span>咨询问题描述</div>
		  <div class="panel-body">
			  <div class="col-lg-12">
			  <table class="table" style="margin-bottom:0px;">
				<tr>
			      <td width="20%"><span class="glyphicon glyphicon-tag"><strong>说明信息：</strong></span></td>
			      <td width="80%">$consultBase.consult.goal</td>
			    </tr>			  
				<tr>
			      <td width="20%"><span class="glyphicon glyphicon-tag"><strong>目标职位：</strong></span></td>
			      <td width="80%">$consultBase.interviewConsult.targetJobInfo</td>
			    </tr>				    
			    <tr>
			      <td width="20%"><span class="glyphicon glyphicon-paperclip"><strong>上传的简历文件:</strong></span></td>
			      <td width="80%"><span class="glyphicon glyphicon-download-alt"></span><a target="_blank" href="$link.contextPath$fileUtil.getPath($consultBase.interviewConsult.resumeFile)" >$fileUtil.getFileName($consultBase.interviewConsult.resumeFile)</a>
			      <small>请点击下载或直接阅览 </small></td>
			    </tr>
			  </table>
			  </div>
	      </div>   
  		</div>
	</div>
</div>
#parse("counselor/consult/common/consultMessageCommon.vm")
#parse("counselor/consult/common/consultAppraiseCommon.vm")
#parse("counselor/consult/common/consultRejectCommon.vm")
<script>
	function scheduleInterview(){
		jQuery.ajax({
             type: "POST",
             url: "$link.contextPath/counselor/consult/scheduleInterview.json",
             data: {
             		'consultId':$!consultBase.consult.id,
             		'scheduleBegin':$('#scheduleBeginHidden').val(),
             		'scheduleEnd':$('#scheduleEndHidden').val()
             		},
             dataType: "json",
             success: function(data){
             	if(data.result.success==true){
             		window.location.href=window.location.href;
             	}else{
             		alert("发送失败"+data.result.message);
             	}
              }
         });
	}
    $('.date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        format: "yyyy-MM-dd hh:ii",
        todayBtn:  1,
        showMeridian: true,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1,
    });
</script>