#set($counselorVO=$session.getAttribute("SESSION_COUNSELOR_OBJECT"))
<script src="$link.contextPath/STATIC/js/jquery.form.js"></script>
<script src="$link.contextPath/STATIC/js/validator.min.js"></script>
#parse("counselor/consult/common/consultConsultantCommon.vm")
<div class="alert alert-dismissable alert-success">
	#parse("counselor/consult/common/consultBaseInfoCommon.vm")
	<p class="text-primary" style="border-top:solid 1px #ddd">	
	 欢迎您确认您的咨询信息，请向您的咨询者获取咨询验证码，通过该验证码您可以直接确认本次咨询并获得咨询费，如果因为特殊原有无法提供验证码，你需要上传您的咨询证明记录让我们的客服人员介入
	 <br/>
		<button type="button" class="btn btn-xs btn-primary" onclick="$('.indetityDiv').addClass('hide');$('#confirmWithIndetityCode').removeClass('hide');">我有验证码</button>
		<button type="button" class="btn btn-xs btn-default" onclick="$('.indetityDiv').addClass('hide');$('#confirmWithOutIndetityCode').removeClass('hide');">上传材料确认</button>
	</p>
</div>

<div class="row   indetityDiv" >
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-bookmark"></span>确认咨询信息</div>
		  <div class="panel-body">
			  <div class="col-lg-12">
				<form class="form-horizontal"  method="POST"  action="$link.contextPath/counselor/consult/confirmWithIndetityCode.json"  id="confirmWithIndetityCodeForm">
					<input type="hidden" value="$consultBase.consult.id" name="consultId" />
				  <fieldset>
				    <div class="form-group">
				      <label  class="col-lg-2 control-label">验证码</label>
				      <div class="col-lg-10">
				        <input type="text" class="form-control" name="indentityCode" placeholder="验证码" required />
				      </div>
				    </div>
				    <div class="form-group">
				      <label class="col-lg-2 control-label">咨询者能力评价</label>
				      <div class="col-lg-10">
				      	#foreach($consultantApprise in $enumUtil.getEnumList("com.ccconsult.enums.ConsultantAppriseEnum"))
				        	<div class="radio">
					          <label>
					            <input type="radio" name="consultantApprise" value="$consultantApprise.getValue()"/>
					            $!consultantApprise.getDescription()
					          </label>
					        </div>
				      	#end
				        <p class="text-primary"><small>请对您的咨询者进行一个简单的能力评估，评价良好的咨询者有助于简历一个属于您的人才库，评价不对咨询者开放。</small></p>
				      </div>
				    </div>
				    </div>
					<div class="form-group">
					      <label for="textArea" class="col-lg-2 control-label">咨询完结备注</label>
					      <div class="col-lg-10">
					        <textarea class="form-control" rows="3" name="memo" required ></textarea>
					        <span class="help-block">请填入咨询备注，例如咨询的感受和对该咨询者的一些建议等.</span>
					      </div>
				    </div>				    
				    <div class="form-group">
				      <div class="col-lg-10 col-lg-offset-2">
				        <button type="button" class="btn btn-primary" onclick="confirmWithIndetityCode()">完成验证</button>
				      </div>
				    </div>
				  </fieldset>
				</form>
	      </div>   
  		</div>
	</div>
</div>
<script>
	function confirmWithIndetityCode() {
		if(!$('#confirmWithIndetityCodeForm').validator()){
			return false;
		}	
		var hideForm = $('#confirmWithIndetityCodeForm');
		var options = {
			dataType : "json",
			beforeSubmit : function() {
				$('#confirmWithIndetityCodeButton').button('loading');
			},
			success : function(result) {
				$('#confirmWithIndetityCodeButton').button('reset');
				var data = eval(result);
				if(data.result.success){
					alert('处理成功，请等待页面刷新！');
					window.location.href='$link.contextPath/counselor/consult/interviewConsult.htm?consultId=$consultBase.consult.id';
				}else{
					alert('确认失败：'+data.result.message);
				}
			},
			error : function(result) {
				$('#confirmWithIndetityCodeButton').button('reset');
				alert("确认失败");
			}
		};
		hideForm.ajaxSubmit(options);
		return false;
	}
	
	function confirmWithOutIndetityCode() {
		if(!$('#confirmWithOutIndetityCode').validator()){
			return false;
		}	
		var hideForm = $('#confirmWithOutIndetityCode');
		var options = {
			dataType : "json",
			beforeSubmit : function() {
				$('#confirmWithOutIndetityCodeButton').button('loading');
			},
			success : function(result) {
				$('#confirmWithOutIndetityCodeButton').button('reset');
				var data = eval(result);
				if(data.result.success){
					alert('处理成功，请等待页面刷新！');
					window.location.href='$link.contextPath/counselor/consult/interviewConsult.htm?consultId=$consultBase.consult.id';
				}else{
					alert('提交失败：'+data.result.message);
				}
			},
			error : function(result) {
				$('#confirmWithOutIndetityCodeButton').button('reset');
				alert("上传失败");
			}
		};
		hideForm.ajaxSubmit(options);
		return false;
	}
	
</script>