#set($counselorVO=$session.getAttribute("SESSION_COUNSELOR_OBJECT"))
#parse("counselor/counselorGuide.vm")     
<form id="searchConsultForm" action="$link.contextPath/counselor/consult/searchConsult.htm" method="GET"> 
<input type="hidden" name="pageSize" value="$!result.object.getPageSize()"/>
<input type="hidden" name="pageNo" value="0" id="pageNoHidden"/>
<input type="hidden" name="step" #if($step) value="$step" #else value=1 #end  id="stepHidden"/>
<input type="hidden" name="serviceId" #if($serviceId) value="$serviceId" #end  id="serviceIdHidden"/>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
			  	<ol class="breadcrumb" style="margin:2px;padding:0px;">
			  		<li class="active"><a href="javascript:void(0)"  onclick="queryConsults(1,1);">新的预约</a></li>
			  		<li class="active"><a href="javascript:void(0)"  onclick="queryConsults(1,2);">进行中</a></li>
			  		<li class="active"><a href="javascript:void(0)"  onclick="queryConsults(1,3);">已完成</a></li>
			  		<li class="active"><a href="javascript:void(0)"  onclick="queryConsults(1,5);">已拒绝</a></li>
				</ol>
            </div>
            <div class="panel-body">
    			#if($result && $result.object)
        			#foreach($consultBase in $result.object.data)
        			#set($consult=$consultBase.consult)
        			#set($consultant=$consultBase.consultant)
        			#set($counselorVO=$consultBase.counselorVO)
        			<div class="col-sm-12">
			            <div class="panel panel-default">
			                <div class="panel-body">
			                		<div class="col-sm-2">
			                		 	<p style="text-align:center;">
			                		 		<img src="$link.contextPath/$fileUtil.getPath($!consultant.photo)" class="img-thumbnail" style="width: 72px;height:72px;"/></p>
			                		</div>
			                		<div class="col-sm-10" style="border-left:solid 1px #ddd">
		                                <div class="col-lg-12">
                            			  <p  style="border-bottom:solid 1px #ddd">
		                                	<span class="glyphicon glyphicon-tag"></span> 咨询类型：$consultBase.serviceConfigVO.service.name
		                                	<a class="btn btn-link btn-xs" style="float:right"  href="$link.contextPath/counselor/consult/${consultBase.serviceConfigVO.service.code}.htm?consultId=$consultBase.consult.id">详情...</a>
	                                		</P>
	                                	</div>
										<div class="col-lg-12">
											<p>
											  <a  class="btn   btn-xs btn-success  disabled col-sm-2" style="margin-right:4px;">创建预约<span class="glyphicon glyphicon-arrow-right"></span></a>
									  			#if($consult.step==1)
										   			<a  class="btn btn-primary disabled col-sm-2  btn-xs" style="margin-right:4px;">接受咨询 <span class="glyphicon glyphicon-arrow-right"></a>
										   			<a  class="btn btn-default disabled col-sm-2  btn-xs" style="margin-right:4px;">咨询进行中 <span class="glyphicon glyphicon-arrow-right"></a>
										   			<a  class="btn btn-default disabled col-sm-2  btn-xs" style="margin-right:4px;"><span class="glyphicon glyphicon-ok"></span>咨询完成 </a>
										   	  	#end
									  			#if($consult.step==2)
										   			<a  class="btn btn-success disabled col-sm-2  btn-xs" style="margin-right:4px;">接受咨询 <span class="glyphicon glyphicon-arrow-right"></a>
										   			<a  class="btn btn-primary disabled col-sm-2  btn-xs" style="margin-right:4px;">咨询进行中 <span class="glyphicon glyphicon-arrow-right"></a>
										   			<a  class="btn btn-default disabled col-sm-2  btn-xs" style="margin-right:4px;"><span class="glyphicon glyphicon-ok"></span>咨询完成 </a>
										   	  	#end										   	  	
											   	#if($consult.step==3)
											   		<a  class="btn btn-success disabled col-sm-2  btn-xs" style="margin-right:4px;"><span class="glyphicon glyphicon-stop"></span>咨询完成 </a>
											   	#end
											   	#if($consult.step==5)
  												<a  class="btn btn-default disabled col-sm-2  btn-xs" style="margin-right:4px;"><span class="glyphicon glyphicon-stop"></span>咨询拒绝 </a>											  
											    #end
											    </p>
										  </div>
										<div class="col-lg-12">  
											<small>ID:$consultBase.consult.id 
		                                		<span class="glyphicon glyphicon-user"></span> 咨询者：$consultBase.consultant.name
		                                		<span ><span class="glyphicon glyphicon-time"></span> 创建时间:$date.format("yyyy-MM-dd HH:mm:ss", $consultBase.consult.gmtCreate)
		                                	</small>				
	                                	</div>						  
								  	</div>							  	
			                </div>		          
		                </div>
		            </div>
        			#end
				    <div class="col-sm-12">
						<ul class="pagination" style="margin-top:-10px;float:right;">
							#if($result.object.getTotalPageCount()>=1)
								#foreach($index in [1..$result.object.getTotalPageCount()])
									<li><a href="javascript:void(0)" onclick="queryConsults($index)">$index</a></li>
								#end
								<li><a href="javascript:void(0)" >一共有$result.object.getTotalCount()条记录</a></li>
							#end
						</ul>    
				    </div>        			
        		#else
					 对不起，当前无记录                    		
        		#end
            </div>
        </div>
    </div>
</div>
</form>
<script>
	function queryConsults(index,step){
		if(step!=undefined ){
			$('#stepHidden').val(step);
		}
		$('#pageNoHidden').val(index);
		$('#searchConsultForm').submit();
	}
</script>
