<div class="modal" id="rejectConsult">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">您拒绝了咨询请求</h4>
      </div>
      <div class="modal-body">
      	<ol>
		  <li>请确认您拒绝了咨询请求</li>
		  <li>您可以用简单的话描述一下您拒绝的原因</li>
		</ol>
		<textarea class="form-control" name="rejectReason" rows="3" id="rejectReasonTextArea">对不起，最近比较忙</textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="rejectConsult('$consultBase.consult.id')">确认拒绝</button>
      </div>
    </div>
  </div>
</div>
<script>
	//拒绝咨询
	function rejectConsult(consultId){
		jQuery.ajax({
             type: "POST",
             url: "$link.contextPath/counselor/consult/rejectConsult.json",
             data: {'rejectReason':$('#rejectReasonTextArea').val(),'consultId':consultId},
             dataType: "json",
             success: function(data){
             	if(data.result.success==true){
             		window.location.reload();
             	}else{
             		alert("发送失败"+data.result.message);
             	}
              }
         });
	}
</script>