#set($consultant=$consultBase.consultant)
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-user"></span>咨询者信息</div>
		  <div class="panel-body">
		  		<div class="col-sm-12">
                  	<div class="col-sm-1">
                        <img src="$link.contextPath/$fileUtil.getPath($!consultant.photo)" class="img-rounded" style="width: 82px;height: 82px;">
                    </div>
                    <div class="col-sm-11">
	                    <p class="col-sm-12"><span class=" text-right col-sm-2">名称:</span>$!consultant.name</p>
	                    <p class="col-sm-12"><span class=" text-right col-sm-2">邮箱:</span>$!consultant.email</p>
	                    <p class="col-sm-12"><span class=" text-right col-sm-2">手机号码:</span>$!consultant.mobile</p>
                    </div>
                </div>	
		  </div>
  		</div>
	</div>
</div>	