#set($consultant=$session.getAttribute("SESSION_CONSULTANT_OBJECT"))
<link href="$link.contextPath/STATIC/plugin/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/umeditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/umeditor.js"></script>
<!-- 语言包文件(建议手动加载语言包，避免在ie下，因为加载语言失败导致编辑器加载失败) -->
<script type="text/javascript" src="$link.contextPath/STATIC/plugin/umeditor/lang/zh-cn/zh-cn.js"></script>  
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-heading"><span class="glyphicon glyphicon-comment"></span> 留言记录</div>
		  <div class="panel-body">
		  	#foreach($messageVO in $messageVOs)
		  		#if($messageVO.message.creatorRole==2)
			  		<div class="col-sm-12">
				  		<div class="col-sm-1">
				  			<img src="$link.contextPath/UPLOAD/$consultant.photo" class="img-rounded" style="width: 60px;height: 60px;">
				  		</div>
				  		<div class="col-sm-11">
				  			<div class="col-sm-10  text-left" >
					  			<div class="panel panel-default">
								  <div class="panel-body">
								  		<p class="text-primary" style="border-bottom:solid 1px #ddd">咨询者：$consultant.name    <span style="float:right;">
								  		创建时间 $date.format("yyyy-MM-dd HH:mm:ss", $messageVO.message.gmtCreate)</span></p>
								  		$messageVO.message.message
								  </div>
								</div>
							</div>
				  		</div>
				  	</div>
		  		#elseif($messageVO.message.creatorRole==1)
			  		<div class="col-sm-12">
				  		<div class="col-sm-11">
				  			<div class="col-sm-10  text-right col-sm-offset-2" >
					  			<div class="panel panel-default">
								  <div class="panel-body">
								  		<p class="text-primary" style="border-bottom:solid 1px #ddd">我 <span style="float:left;">
								  		创建时间 $date.format("yyyy-MM-dd HH:mm:ss", $messageVO.message.gmtCreate)</span></p>
								  		$messageVO.message.message
								  </div>
								</div>
							</div>
				  		</div>
				  		<div class="col-sm-1">
				  			<img src="$link.contextPath/UPLOAD/$!counselorVO.counselor.photo" class="img-rounded" style="width: 60px;height: 60px;">
				  		</div>				  		
				  	</div>
		  		#end
		  	#end
		  	#if($consultBase.consult.step==2)
		  	<form id="sendMessageForm">
			<div class="col-sm-12">
				<hr/>
                <script type="text/plain" id="myEditor" name="message" style="width:100%;height:200px;"></script>
                <script type="text/javascript">
				    $(function(){
				        window.um = UM.getEditor('myEditor', {
				            /* 传入配置参数,可配参数列表看umeditor.config.js */
				            toolbar: ['undo redo | bold italic underline']
				        });
				    });
                </script>   
                <br/>
                <input type="hidden" name="creatorRole" value="1"/>
                <input type="hidden" name="creator"  value="$counselorVO.counselor.id"/>
                <input type="hidden" name="relId" value="$consultBase.consult.id"/>
			   <button type="button" class="btn btn-danger col-sm-2" style="float:right;" onclick="sendMessage()">留言</button>
		  	</div>
		  	</form>
		  	#end
		  </div>
		</div>
	</div>
</div>
<script>
	//发送消息
	function sendMessage(){
		jQuery.ajax({
             type: "POST",
             url: "$link.contextPath/sendShotMessage.json",
             data: $('#sendMessageForm').serialize(),
             dataType: "json",
             success: function(data){
             	console.log(data);
             	if(data.result.success==true){
             		window.location.href=window.location.href;
             	}else{
             		alert("发送失败"+data.result.message);
             	}
              }
         });
	}
</script>