<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            	搜索结果如下：
            </div>
            <div class="panel-body">
              	#if(!$result  || !$result.success)
            		<p>对不起无搜索结果</p>
            	#else
	            	#foreach($object in $result.object.getResult())
	            		#if($type=="COMPANY")
		            		#set($company=$object)	
							<div class="row">
			                    <div class="col-sm-12">
									<div class="panel panel-default">
						            	<div class="panel-body">
	 											<div class="col-sm-2">
					                                <img src="$link.contextPath/$fileUtil.getPath($!company.photo)" style="width:80px;" class="img-rounded"/>
					                            </div>
					                            <div class="col-sm-10" style="border-left:solid 1px #ddd">
					                            	<a href="$link.contextPath/company.htm?companyId=$company.id">
					                            	$company.name 
					                            	</a>
					                            	<small style="float:right;">
					                            	(注册人数<span class="badge">#if($company.counselorCount) $company.counselorCount  #else 0 #end </span>) 
					                            	</small>
					                                <div style="border-top:solid 1px #ddd">$!company.description</div>
					                            </div>
										</div>
									</div>
		                        </div>
			                </div>							
	            		#elseif($type=="COUNSELOR")
		            		#set($counselor=$object)	
							 <div class="row">
			                    <div class="col-sm-12">
									<div class="panel panel-default">
						            	<div class="panel-body">
	 											<div class="col-sm-2" style="text-align:center;">
					                               <a href="$link.contextPath/counselorInfo.htm?counselorId=$counselor.id"> <img src="$link.contextPath/$fileUtil.getPath($!counselor.photo)" style="min-width: 80px;" class="img-thumbnail"/></a>
					                            </div>
					                            <div class="col-sm-10" style="border-left: solid 1px #ddd" >
					                                <p class="text-warning" style="border-bottom:solid 1px #ddd">
					                                	<a href="$link.contextPath/counselorInfo.htm?counselorId=$counselor.id">
					                                		<span class="glyphicon glyphicon-user">名称:</span>$counselor.name
					                                		<span class="glyphicon glyphicon-user">名称:</span>$counselor.name
					                                		<span class="glyphicon glyphicon-th-large">部门:</span>$counselor.department
					                                		#if($counselor.city)<span class="glyphicon glyphicon-map-marker">城市:</span>$!counselor.city #end
					                                	</a>
														<span	class="label label-primary" style="float:right;margin-left:4px;">
					                                	<span class="glyphicon glyphicon-tag"></span>专家徽章</span>		
					                                	<span	class="label label-primary" style="float:right;margin-left:4px;">
					                                	<span class="glyphicon glyphicon-tag"></span>人称伯乐</span>						                                			                                	
					                                	<span	class="label label-primary" style="float:right">
					                                	<span class="glyphicon glyphicon-tag"></span>好评率:89%</span>
					                                	</p>
					                                	<div style="min-height:50px;overflow:hidden"><small>$!counselor.description</small></div>
					                            </div>
										</div>
									</div>
		                        </div>
			                </div>        			            		
	            		#end
	            	#end            	
            	#end
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="pageSize" value="$result.object.getPageSize()"/>
<input type="hidden" name="pageNo" value="$result.object.getCurrentPageNo()" id="pageNo"/>
<div class="row">
    <div class="col-sm-12">
		<ul class="pagination" style="margin-top:-10px;float:right;">
			#if($result.object.getTotalPageCount()>0)
				#foreach($index in [1..$result.object.getTotalPageCount()])
				<li><a href="javascript:void(0)" onclick="submitForm($index)">$index</a></li>
				#end
				<li><a href="#">记录总数：$result.object.getTotalPageCount()</a></li>
			#end
		</ul>    
    </div>
</div>  
  
