#if($result && $result.isSuccess)
	#set($company=$result.object)
#end
<div class="row">
	    <div class="col-sm-4" >
	        <img src="$link.contextPath/$fileUtil.getPath($!company.photo)" class="img-thumbnail" style="max-height:240px;">
	    </div>
	    <!-- right CONTENT================================ -->
	    <div class="col-sm-8" >
	        <div class="panel panel-default">
	            <div class="panel-body" style="font-size: 13px;">
	                <div>$!company.description</div><br/>
	            </div>
	        </div>
	    </div>
</div> 
<br/>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            	咨询师列表  (<small>注册人数<span class="badge">#if($counselors)  $counselors.size() #else 0 #end </span></small>) 
            	<a href="$link.contextPath/regist/regCounselorInit.htm" style="float:right">我要注册咨询师</a> 
            </div>
            <div class="panel-body">
              	#if(!$counselors && $counselors.size()==0)
            		<p>该公司无可咨询人员</p>
            	#else
	            	#foreach($counselor in $counselors)
		            	 <div class="row">
		                    <div class="col-sm-12">
								<div class="panel panel-default">
					            	<div class="panel-body">
 											<div class="col-sm-2" style="text-align:center;">
				                               <a href="$link.contextPath/counselorInfo.htm?counselorId=$counselor.id"> <img src="$link.contextPath/$fileUtil.getPath($!counselor.photo)" style="min-width: 80px;" class="img-thumbnail"/></a>
				                            </div>
				                            <div class="col-sm-10" style="border-left: solid 1px #ddd" >
				                                <p class="text-warning" style="border-bottom:solid 1px #ddd">
				                                	<a href="$link.contextPath/counselorInfo.htm?counselorId=$counselor.id">
				                                		<span class="glyphicon glyphicon-user"></span> 名称：$counselor.name
				                                		<span class="glyphicon glyphicon-th-large"></span> 部门：$counselor.department
				                                		#if($counselor.city)<span class="glyphicon glyphicon-map-marker"></span> 城市：$!counselor.city #end
				                                	</a>
													<span	class="label label-primary" style="float:right;margin-left:4px;">
				                                	<span class="glyphicon glyphicon-tag"></span>$application.getAttribute('levelMap').get("$!counselor.levelId").name</span>				                                	
				                                	<span	class="label label-primary" style="float:right">
				                                	<span class="glyphicon glyphicon-tag"></span>好评率:$!counselor.appriseRate%</span></p>
				                                <div style="min-height:50px;overflow:hidden"><small>$!counselor.description</small></div>
				                            </div>
									</div>
								</div>
	                        </div>
		                </div>
	            	#end            	
            	#end
            </div>
        </div>
    </div>
</div>


