#if($result && $result.isSuccess)
	#set($company=$result.object)
#end
<div class="row">
	    <div class="col-lg-4" >
	        <img src="$link.contextPath/UPLOAD/$!company.photo" class="img-thumbnail" style="max-height:240px;">
	    </div>
	    <!-- right CONTENT================================ -->
	    <div class="col-lg-8" >
	        <div class="panel panel-default">
	            <div class="panel-body" style="font-size: 13px;">
	                <div>$!company.description</div><br/>
	                <a  style="float:right;" href="http://$!company.link" target="_blank">友情链接</a>
	            </div>
	        </div>
	    </div>
</div> 
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            	咨询师列表
            </div>
            <div class="panel-body">
              	#if(!$counselors)
            		<p>该公司无可咨询人员</p>
            	#else
	            	#foreach($counselor in $counselors)
		            	 <div class="row">
		                    <div class="col-lg-12">
								<div class="panel panel-default">
					            	<div class="panel-body">
 											<div class="col-lg-2">
				                                <img src="$link.contextPath/UPLOAD/$!counselor.photo" style="width: 60px;" class="img-rounded"/><br/>
				                                <a href="$link.contextPath/consultant/createInterview.htm?counselorId=$!counselor.id" 
				                                class="btn btn-info btn-xs" style="width:60px">请求预约</a>
				                            </div>
				                            <div class="col-lg-10" style="border-left: solid 1px #ddd" >
				                                <p class="text-warning" style="border-bottom:solid 1px #ddd">
				                                	<small><a href="$link.contextPath/counselorInfo.htm?counselorId=$counselor.id">
				                                	$counselor.name（$counselor.department)</a></small>  
				                                	<a href="$link.contextPath/counselorInfo.htm?counselorId=$counselor.id" style="float:right;">更多详情...</a>
				                                	<span	class="label label-warning">
				                                	<span class="glyphicon glyphicon-tag"></span>已认证</span></p>
				                                <div style="max-height:50px;overflow:hidden">$!counselor.description</div>
				                            </div>
									</div>
								</div>
	                        </div>
		                </div>
	            	#end            	
            	#end
            </div>
        </div>
    </div>
</div>


