<div class="alert alert-dismissable alert-warning">
  <h4>请注意!</h4>
  <p>您可以选择预约咨询或者站内咨询，站内咨询是免费咨询，咨询师会不定时的回答您的咨询问题，如果需要更高质量的咨询，
  请使用付费使用预约咨询,详细内容请点击<a href="#" class="alert-link">真咨网咨询服务条款</a>.</p>
  <p class="text-primary">请严格遵守本网服务须知，不要在咨询中透漏任何涉及商业机密的信息！.</p>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
					<button type="button" class="btn btn-primary" 
						onclick="window.location.href='$link.contextPath/consultant/createInterview.htm?counselorId=$!counselorVO.counselor.id'"><span class="glyphicon glyphicon-star">
						</span>  预约咨询
					</button>
					<button type="button" class="btn btn-warning"> <span class="glyphicon glyphicon-comment"></span> 站内咨询</button>
					<HR/>
					<p class="text-info">预约咨询费用：<span style="font-size:20px;">30</span>元/次，咨询时间不小于10分钟,为保证双方利益，我们会对您的咨询进行<a href="" style="font-size:18px">咨询担保交易</a></p>
       	 	</div>
    	</div>
    </div>
</div> 

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2">
                        <img src="$link.contextPath/UPLOAD/$!counselorVO.counselor.photo" class="img-rounded" style="margin-left:12px;width: 82px;height: 82px;">
                    </div>
                    <div class="col-lg-5">
	                    <p class="col-lg-12"><strong class=" text-right col-lg-4">名称:</strong>$!counselorVO.counselor.name</p>
	                    <p class="col-lg-12"><strong class=" text-right col-lg-4">认证邮箱:</strong>******</p>
	                    <p class="col-lg-12"><strong class=" text-right col-lg-4">公司:</strong>$!counselorVO.company.name</p>
                    </div>
                    <div class="col-lg-5">
	                    <p class="col-lg-12"><strong class=" text-right col-lg-4">手机:</strong>**********</p>
	                    <p class="col-lg-12"><strong class=" text-right col-lg-4">部门:</strong>$!counselorVO.counselor.department</p>
                    </div>	
                </div>
                <div class="row">
                    <div class="col-lg-12" style="border-top:solid 1px #ddd">
                    	<small>
                        <span style="margin-left:24px;"></span>$!counselorVO.counselor.description
                        </small>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</div>