<div class="alert alert-dismissable alert-info">
  <h4>请注意!</h4>
  <p>您可以选择预约咨询或者站内咨询，站内咨询是免费咨询，咨询师会不定时的回答您的咨询问题，如果需要更高质量的咨询，
  请使用付费使用预约咨询,详细内容请点击<a href="#" class="alert-link">真咨网咨询服务条款</a>.</p>
  <p class="text-primary">请严格遵守本网服务须知，不要在咨询中透漏任何涉及商业机密的信息！.</p>
  <p class="text-info">为保证双方利益，请仔细阅读我们的服务条款和<a  target="_blank" href="$link.contextPath/article.htm?articleId=2" style="font-size:14px">咨询担保交易</a>方式</p>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
	            	#foreach($serviceConfig in $!counselorVO.serviceConfigs)
	        		<button style="margin-right:4px;" type="button" class="btn #if($serviceConfig.serviceId==4) btn-warning #else btn-warning #end col-sm-2"
							onclick="$('.serviceArea').addClass('hide');$('#serviceArea_$serviceConfig.serviceId').removeClass('hide');">
							#if($foreach.count==4) <span class="glyphicon glyphicon-fire"></span> #end  $application.getAttribute('serviceMap').get("$serviceConfig.serviceId").name
					</button>
	            	#end
	            	<hr/>
	            	#foreach($serviceConfig in $!counselorVO.serviceConfigs)
	            	<div class="alert alert-dismissable alert-success serviceArea #if($foreach.count!=1) hide #end" id="serviceArea_$serviceConfig.serviceId" >
						  <h4>欢迎使用$application.getAttribute('serviceMap').get("$serviceConfig.serviceId").name服务!</h4>
						  <p>$application.getAttribute('serviceMap').get("$serviceConfig.serviceId").description</p>
						  <p class="text-primary">
						  	<span style="font-size:24px;">
						  		<span class="glyphicon glyphicon-copyright-mark">$application.getAttribute('serviceMap').get("$serviceConfig.serviceId").priceRegion</span>/元次
					  		</span> 
						    <a class="btn btn-primary" href="$link.contextPath/consultant/consult/create${application.getAttribute('serviceMap').get("$serviceConfig.serviceId").code}Init.htm?serviceConfigId=$serviceConfig.id" style="float:right;"><span class="glyphicon glyphicon-send"></span>  发起咨询</a>		
				  		  </p>
					</div>
				 	#end		
       	 	</div>
    	</div>
    </div>
</div> 
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="$link.contextPath/$fileUtil.getPath($!counselorVO.counselor.photo)" class="img-thumbnail" style="margin-left:12px;width: 82px;height: 82px;">
                    </div>
                    <div class="col-sm-5">
	                    <p class="col-sm-12"><strong class=" text-right col-sm-4">名称:</strong>$!counselorVO.counselor.name</p>
	                    <p class="col-sm-12"><strong class=" text-right col-sm-4">认证邮箱:</strong>******</p>
	                    <p class="col-sm-12"><strong class=" text-right col-sm-4">公司:</strong>$!counselorVO.company.name</p>
                    </div>
                    <div class="col-sm-5">
	                    <p class="col-sm-12"><strong class=" text-right col-sm-4">个人手机:</strong>**********</p>
	                    <p class="col-sm-12"><strong class=" text-right col-sm-4">所在部门:</strong>$!counselorVO.counselor.department</p>
	                    <p class="col-sm-12"><strong class=" text-right col-sm-4">所在城市:</strong>$!counselorVO.counselor.city</p>
                    </div>	
                    <div class="col-sm-12" style="border-top:solid 1px #ddd;padding-top:12px;margin-bottom:12px;">	
						<span	class="label label-primary" style="margin-left:4px;">
                    	<span class="glyphicon glyphicon-tag"></span>$application.getAttribute('levelMap').get("$!counselorVO.counselor.levelId").name</span>				                                	
                    	<span	class="label label-primary">
                    	<span class="glyphicon glyphicon-tag"></span>好评率:$!counselorVO.counselor.appriseRate%</span>
                    </div>                    
                </div>              
                <div class="row">
                    <div class="col-sm-12" style="border-top:solid 1px #ddd">
                    	<small>
                        <span style="margin-left:24px;"></span>$!counselorVO.counselor.description
                        </small>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</div>
