<form action="$link.contextPath/searchList.htm"  method="GET">
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
				<div class="row">
				    	<div class="col-sm-5"><input type="text"  name="keyword" class="form-control" placeholder="请输入公司名称或咨询师名称搜索"/></div>
					 	<div class="col-sm-2">
					     	<select class="form-control" name="type">
					          <option value="COMPANY">公司</option>
					          <option value="COUNSELOR">咨询师</option>
					        </select>	 	
				 		</div>
					 	<div class="col-sm-2">	
					 		<button class="btn btn-danger col-sm-12" type="submit">快速寻找</button>
				 		</div>
				</div>
				</form>
				<br/>
				<div class="row">
					<div class="col-sm-5" style="text-align:center;">
						  	<div class="row" style="color:#dd4814">
						  		<div class="col-sm-12"  >
									<div class="col-sm-6" style="height:120px;background:#2E3058;color:#fff">
										<H1>真实</H1>
										公司专属邮箱注册和定期验证激活
									</div>
									<div class="col-sm-6" style="height:120px;background:#DF600B;color:#fff">
										<H1>一线</H1>
										国内外顶尖企业名企的一线雇员
									</div>
								</div>
							  	<div class="col-sm-12">
									<div class="col-sm-6" style="height:120px;background:#3D8DB3;color:#fff">
										<H1>专一</H1>
										最专业的公司和最贴近行业前沿的员工
									</div>
									<div class="col-sm-6" style="height:120px;background:#0ECE98;color:#fff">
										<H1>放心</H1>
										最有价值的咨询和担保交易式咨询
									</div>
								</div>	
							</div>		
					</div>
					<!-- right CONTENT
				       ================================================== -->
					<div class="col-sm-7">
						<div class="panel panel-default">
							<div class="panel-body" style="height:240px;">
								<p style="margin: 0px;max-height:198px;overflow:hidden;">
									#foreach($article in $articles)
										<a style="color:#000" href="$link.contextPath/article.htm?articleId=$article.id">$article.title</a><br/>
									#end
								</p>
								<a href="$link.contextPath/articles.htm" style="float:right">更多信息</a>
							</div>
						</div>
					</div>
				</div>            
            
            
            </div>
        </div>
    </div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		 <div class="panel-body">	
			<ul class="nav nav-tabs">
			  <li class="active"><a href="#company" data-toggle="tab">一线名企</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
			  <div class="tab-pane fade active in" id="company">
			  <br/>
				#foreach($service in $application.getAttribute('serviceList'))
					<div class="col-sm-6" >
						<div style="height:80px;margin-bottom:4px;background-color:#fff">
						<a  target="_blank" href="$link.contextPath/article.htm?articleId=$service.introArticleId">
								<img src="$link.contextPath/$fileUtil.getPath($service.photo)"
								style="width:60px;height: 60px; float:left" class="img-rounded">
								<p style="padding-left: 72px;">
									<a target="_blank" href="$link.contextPath/serviceInfo.htm?serviceId=$service.id">$service.name #if($service.id==1) <span class="badge">FREE</span> #end</a> <br/>
									<small>$service.description</small>
								</p>
						</a>			
						</div>
					</div>	
				#end			  
			  </div>
  			</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			  <div class="panel-heading"><strong><span class="glyphicon glyphicon-tags"></span>  热门面试咨询公司</strong> <a href="$link.contextPath/searchList.htm?type=COMPANY" style="float:right">更多...</a></div>
			  <div class="panel-body">		  
		 		#foreach($company in $companys)
					<div class="col-sm-4">
						<div style="height:80px;margin-bottom:4px;background-color:#fff">
						<a href="$link.contextPath/company.htm?companyId=$company.id">
								<img src="$link.contextPath/$fileUtil.getPath($!company.photo)"
								style="width:60px;height: 60px; float:left" class="img-rounded">
								<p style="padding-left: 72px;">
									$company.name<br /> 
									咨询师人数：$!company.counselorCount人 
								</p>
						</a>			
						</div>
					</div>
				#end												
			  </div>
		</div>
	</div>
</div>

#if($consultBases.data && $consultBases.data.size()>0)
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			  <div class="panel-heading"><strong><span class="glyphicon glyphicon-tags"></span>  咨询动态</strong></div>
			  <div class="panel-body">		  
		 		#foreach($consultBase in $consultBases.data)
		 			#set($counselorVO=$consultBase.counselorVO)
		 			#set($consultant=$consultBase.consultant)
					<div class="col-sm-4">
							<img src="$link.contextPath/$fileUtil.getPath($consultBase.counselorVO.counselor.photo)"
									style="width:60px;height: 60px; float:left" class="img-rounded"/>
							<p style="padding-left: 72px;">
								<small>
								<span class="glyphicon glyphicon-user"></span> 咨询师名称：<a href="$link.contextPath/counselorInfo.htm?counselorId=$counselorVO.counselor.id">$!counselorVO.counselor.name</a><br/>
                    			<span class="glyphicon glyphicon-th-large"></span> 公司名称：<a href="$link.contextPath/company.htm?companyId=$!counselorVO.company.id" >$!counselorVO.company.name</a><br/>
                				<span class="glyphicon glyphicon-map-marker"></span> 所在城市：$!counselorVO.counselor.city
                				</small>
                			</p>									
					</div>
					<div class="col-sm-8">
								#foreach($apprise in $consultBase.apprises)
									#if($apprise.creatorRole==2)
										#set($consultantApprise=$apprise)
										#break
									#end
								#end
								<blockquote style="font-size:12px;padding-top:4px;">
								  <p class="text-info">#if($consultantApprise) $consultantApprise.memo  #else 感觉不错！ #end</p>
								  <small>咨询者：$consultant.name</small>
								</blockquote>								
					</div>
				#end												
			  </div>
		</div>
	</div>
</div>
#end
