<script language="javascript">
	function login(action){
		$('#actionInput').val(action);
		var account=$('input[name=account]').val();
    	var password=$('input[name=password]').val();
    	if(account=='' || account==undefined){
    		$.Zebra_Dialog('<strong>请注意</strong>, 登录名称不能为空！');
    		return ;
    	}
		if(password=='' || password==undefined){
    		$.Zebra_Dialog('<strong>请注意</strong>, 密码不能为空！');
    		return ;
    	}
        $('#loginForm').submit();
    }
</script>
 <div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">请登录</div>
            <div class="panel-body">
                <form class="form-horizontal" id="loginForm" action="$link.contextPath/login.htm" method="post">
                    <fieldset>
	        			#if($result && !$result.success)
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                   <span style="color:red"><span class="glyphicon glyphicon-warning-sign"></span> 登录失败：$result.message</span>
                                </div>
                            </div>	
                            <HR/>	                   	 	
	                    #end                      
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">用户名称</label>
                            <div class="col-sm-6">
                                <input type="text"  name="account" class="form-control"  placeholder="账户名称为邮箱地址" value="$!account"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPasswd" class="col-sm-2 control-label">用户密码</label>
                            <div class="col-sm-6">
                                <input type="password"  name="password" class="form-control"  placeholder="账户密码"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPasswd" class="col-sm-2 control-label"></label>
                            <div class="col-sm-6">
                                    <button type="button" class="btn btn-primary col-sm-5" onclick="login('CONSULTANT')">
                                        普通用户登陆
                                    </button>
                                    <button type="button" class="col-sm-offset-2 btn btn-success col-sm-5" onclick="login('COUNSELOR')">
                                        咨询师登录
                                    </button>
                            </div>
                        </div>
                    </fieldset>
                    <input type="hidden" name="action" id="actionInput"/>
                </form>
                <hr/>
                <a  href="$link.contextPath/findPasswdInit.htm" style="margin: 12px">忘记密码</a>
                <a  href="$link.contextPath/regist/regConsultant.htm" style="margin: 12px">快速注册用户</a>
                <a  href="$link.contextPath/regist/regCounselorInit.htm" style="margin: 12px">注册咨询师</a>
            </div>
        </div>
    </div>
</div>