#set($consultant=$session.getAttribute("SESSION_CONSULTANT_OBJECT"))
#parse("consultant/consultantGuide.vm")
<script>
	function deleteInterview(interviewId){
		if(!confirm("请确认您要删除该记录")){
			return ;
		}
		jQuery.ajax({
             type: "POST",
             url: "$link.contextPath/consultant/deleteInterview.json",
             data: {'interviewId':interviewId},
             dataType: "json",
             success: function(data){
             	if(data.result.success==true){
             		$('#INTERVIEW_'+interviewId).remove();
             	}else{
             		alert("对不起删除失败，请稍后重试");
             	}
              }
         });
	}
</script>   
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
				  	<ol class="breadcrumb" style="margin:2px;padding:0px;">
					  <li><a href="javascript:void(0)" onclick="$('.finished').addClass('hide');$('.onwork').removeClass('hide');">未完成<span class="badge">$result.object.data.size()</span></a></li>
					  <li><a href="javascript:void(0)" onclick="$('.onwork').addClass('hide');$('.finished').removeClass('hide');">已完成</a></li>
					</ol>
            </div>
            <div class="panel-body">
        		#if($result && $result.object)
        			#foreach($consultBase in $result.object.data)
        			#set($consult=$consultBase.consult)
        			#set($counselorVO=$consultBase.counselorVO)
        			<div class="col-sm-12">
			            <div class="panel panel-default">
			                <div class="panel-body">
			                		<div class="col-sm-2">
			                		 	<p style="text-align:center;"><img src="$link.contextPath/UPLOAD/$!counselorVO.counselor.photo" class="img-rounded" style="width: 32px;height: 32px;"/></p>
			                		 	<p style="text-align:center;"><a target="_blank" href="$link.contextPath/counselorInfo.htm?counselorId=$!counselorVO.counselor.id">$consultBase.counselorVO.counselor.name</a></p>
			                		</div>
			                		<div class="col-sm-10" style="border-left:solid 1px #ddd">
	                                <p  style="border-bottom:solid 1px #ddd">
	                                	#if($interview.step<2)
	                                	<a href="javascript:void(0)" onclick="deleteConsult($consult.id)"><span class="glyphicon glyphicon-remove"></span>删除</a>
	                                	#end
	                                	<span class="label label-primary"><span class="glyphicon glyphicon-tag"></span>咨询类型：$consultBase.service.name</span>
	                                	<span style="float: right">$date.format("yyyy-MM-dd HH:mm:ss", $consultBase.consult.gmtCreate)
	                                	<a href="$link.contextPath/consultant/consult/${consultBase.service.code}.htm?consultId=$consultBase.consult.id">详情...</a>
                                	</p>
									<p>
										  <a  class="btn  btn-sm btn-success disabled col-sm-2" style="margin-right:4px;">创建预约<span class="glyphicon glyphicon-arrow-right"></span></a>
										  <a  class="btn  btn-sm col-sm-2
										  	#if($interview.step>1)  btn-success disabled  
										  	#elseif($interview.step==1) btn-primary   disabled
										  	#else  btn-default disabled #end"  style="margin-right:4px;">支付完成 <span class="glyphicon glyphicon-arrow-right"></span></a>
										  <a  class="btn btn-sm col-sm-2
										  	#if($interview.step>1)  btn-success disabled  
										  	#elseif($interview.step==1) btn-primary   disabled
										  	#else  btn-default disabled #end"  style="margin-right:4px;">咨询进行中 <span class="glyphicon glyphicon-arrow-right"></span></a>
										  <a  class="btn disabled col-sm-2 btn-sm
										  	#if($interview.step>2)  btn-success disabled  
										  	#elseif($interview.step==2) btn-primary   
										  	#else  btn-default disabled #end"  style="margin-right:4px;"><span class="glyphicon glyphicon-ok"></span>咨询完成 </a>
									  </p>
								  </div>
			                </div>
		                </div>
		            </div>
        			#end
        		#else
					 对不起，当前无记录                    		
        		#end
            </div>
        </div>
    </div>
</div>