#set($consultant=$session.getAttribute("SESSION_CONSULTANT_OBJECT"))
#parse("consultant/consultantGuide.vm")  
<form id="queryAccountPersonalForm" action="$link.contextPath/consultant/consult/personalAccount.htm" method="GET">
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
		  <div class="panel-body">
			  	当前余额：<span style="font-size:38px;color:#9966cc">#if($account.currentMoney) $account.currentMoney #else 0 #end </span>元 
			  	冻结中：<span style="font-size:20px;color:#9966cc">#if($account.currentMoney) $account.currentMoney #else 0 #end   </span>元      
			  	<a>充值</a>  <a>赚到支付宝</a>
	      </div>   
  		</div>
	</div>
</div>
<input type="hidden" name="pageSize" value="$!result.object.getPageSize()"/>
<input type="hidden" name="pageNo" value="0" id="pageNoHidden"/>
<input type="hidden" name="transType" #if($serviceId) value="$serviceId" #end  id="serviceIdHidden"/>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
				<ul class="nav nav-tabs nav-justified" role="tablist">
					<li #if($transType==3) class="active"  #end><a href="javascript:void(0)"  onclick="queryConsults(1,2);">支付记录</a></li>
			  		<li #if($transType==1) class="active"  #end><a href="javascript:void(0)"  onclick="queryConsults(1,1);">充值记录</a></li>
			  		<li #if($transType==2) class="active"  #end><a href="javascript:void(0)"  onclick="queryConsults(1,2);">提出记录</a></li>
			  		<li #if($transType==4) class="active"  #end><a href="javascript:void(0)"  onclick="queryConsults(1,2);">转入记录</a></li>
				</ul>  
            <div class="panel-body">
        		#if($result && $result.object)
        		#end
            </div>
        </div>
    </div>
</div>
</form>
<script>
	function queryConsults(index,step,payTag){
		if(step!=undefined ){
			$('#stepHidden').val(step);
		}	
		$('#pageNoHidden').val(index);
		$('#searchConsultForm').submit();
	}
</script>
