#set($consultant=$session.getAttribute("SESSION_CONSULTANT_OBJECT"))
#parse("consultant/consultantGuide.vm")
#if($resume)
<div class="row">
	<div class="col-sm-12">
		<div class="alert alert-dismissable alert-warning">
		   您的简历信息有助于您的面试官快速了解您，如果需要修改请点击<a style="float:right;" href="$link.contextPath/consultant/editResume.htm"><span class="glyphicon glyphicon-edit">编辑简历</span></a>完成修改
		</div>
	</div>

    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            	基本信息
            </div>
            <div class="panel-body">
				<div class="col-sm-12" >
					<div class="col-sm-4">
					 	 <img src="$link.contextPath/UPLOAD/$consultant.photo" style="width: 200px;" class="img-rounded">
					</div>
					<div class="col-sm-8">
							<div class="col-sm-12" 	style="border-top:solid 1px #ddd">
								<div class="col-sm-3">
								 	<h4 style="text-align:right">真实姓名</h4>
								</div>
								<div class="col-sm-8">
									<p style="padding-top:12px;">$!resume.realName</p>
								</div>
							</div>		
							<div class="col-sm-12" 	style="border-top:solid 1px #ddd">
								<div class="col-sm-3">
								 	<h4 style="text-align:right">性别</h4>
								</div>
								<div class="col-sm-8">
									<p style="padding-top:12px;">$!resume.sexy</p>
								</div>
							</div>	
							<div class="col-sm-12" 	style="border-top:solid 1px #ddd">
								<div class="col-sm-3">
								 	<h4 style="text-align:right">学历</h4>
								</div>
								<div class="col-sm-8">
									<p style="padding-top:12px;">$!resume.education</p>
								</div>
							</div>
							<div class="col-sm-12" 	style="border-top:solid 1px #ddd">
								<div class="col-sm-3">
								 	<h4 style="text-align:right">毕业院校</h4>
								</div>
								<div class="col-sm-8">
									<p style="padding-top:12px;">$!resume.school</p>
								</div>
							</div>
							<div class="col-sm-12" 	style="border-top:solid 1px #ddd;border-bottom:solid 1px #ddd">
								<div class="col-sm-3">
								 	<h4 style="text-align:right">专业</h4>
								</div>
								<div class="col-sm-8">
									<p style="padding-top:12px;">$!resume.profession</p>
								</div>
							</div>
							<div class="col-sm-12" 	style="border-top:solid 1px #ddd;border-bottom:solid 1px #ddd">
								<div class="col-sm-3">
								 	<h4 style="text-align:right">工作年限</h4>
								</div>
								<div class="col-sm-8">
									<p style="padding-top:12px;">$!resume.workExperience</p>
								</div>
							</div>
							
					</div>
				</div>					
       	 	</div>
    	</div>
    </div>
    
	<div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            	简历详情
            </div>
            <div class="panel-body">
            	$!resume.resume
			</div>
		</div>
	</div>		    
</div>

#else
<div class="jumbotron">
  <h1>您当前未创建简历</h1>
  <p>点击创建简历来创建属于您自己的简历</p>
  <p><a class="btn btn-primary btn-lg" href='$link.contextPath/consultant/editResume.htm?consultantId=$consultant.id' ><span class="glyphicon glyphicon-edit"></span>创建简历</a></p>
</div>
#end
