<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>#if($title) $title #else 真咨网 #end</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="baidu-site-verification" content="4576d7b1cc274030ed1988e2504cefc5"/>
    <link rel="stylesheet" href="$link.contextPath/STATIC/css/bootstrap_yellow.css" rel="stylesheet">
    <link rel="stylesheet" href="$link.contextPath/STATIC/css/select2.css" rel="stylesheet">
    <link rel="stylesheet" href="$link.contextPath/STATIC/css/style.css" rel="stylesheet">
    <script src="$link.contextPath/STATIC/js/jquery-1.10.2.min.js"></script>
	<script src="$link.contextPath/STATIC/js/bootstrap.min.js"></script>
	<script src="$link.contextPath/STATIC/js/bootswatch.js"></script>
	<script src="$link.contextPath/STATIC/js/select2.js"></script>
	<link rel="icon" href="$link.contextPath/STATIC/image/ccconsult.ico" type="image/x-icon">
</head>
<body>
#parse("head.vm")   
<div class="container">
	<div class="page-header" id="banner">
		<div class="row" style="padding-top:30px">
		    <!-- LEFT CONTENT
		================================================== -->
		    <div class="col-sm-9">
		    $!screen_content
		    </div>
		    <div class="col-sm-3">
		    #parse("rightBanner.vm")
		    </div>
		</div>
	</div>
	<footer>
	 	#parse("footer.vm")
	</footer>
</div>
</body>
</html>