<div class="row">
	    <div class="panel panel-default">
	        <div class="panel-body">
		        	<h2 class="panel-title">欢迎来到真咨网</h2>
		        	<p>
		             真咨网,最真实的一线名企雇员给给您提供最有价值的咨询服务
					</p>
					#if(!$session.getAttribute("SESSION_COUNSELOR_OBJECT") && !$session.getAttribute("SESSION_CONSULTANT_OBJECT"))
					<p style="text-align:center;padding-top:4px;border-top:solid 1px #ddd;margin:0px;">
						<a  href="$link.contextPath/login.htm"  class="btn   btn-success">登录</a>
						<a  href="$link.contextPath/regist/regConsultant.htm" class="btn btn-link" >注册咨询者</a>
						<a  href="$link.contextPath/regist/regCounselorInit.htm" class="btn btn-link" >注册咨询师</a>
					</p>
					#end
	        </div>
	    </div>
</div>
<div class="row">
	<div class="list-group">
	  <a   class="list-group-item" style="background:#f5f5f5">
	    <strong>真咨网常见问题</strong>
	  </a>
	  <a href="#" class="list-group-item"><span class="glyphicon glyphicon-question-sign"></span> 我们如何保证咨询师信息的真实可靠？</a>
	  <a href="#" class="list-group-item"><span class="glyphicon glyphicon-question-sign"></span> 咨询免费吗？怎么收费的？</a>
	  <a href="#" class="list-group-item"><span class="glyphicon glyphicon-question-sign"></span> 我对咨询不满意，我能退款吗？</a>
	  <a href="#" class="list-group-item"><span class="glyphicon glyphicon-question-sign"></span> 注册一个咨询师的条件是什么？</a>
	  <a href="#" class="list-group-item"><span class="glyphicon glyphicon-question-sign"></span> 作为咨询师，我的个人信息会保密码？</a>
	</div>
</div>


<div class="row">
	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <h3 class="panel-title">联系我们</h3>
	        </div>
	        <div class="panel-body">
	            <div class="col-sm-12" >
	                <img src="$link.contextPath/STATIC/image/weibo.png" style="width:60px;height: 60px; float:left" 
	                class="img-rounded">
	                <p style="padding-left: 72px;">
	                    <a href="">面试咨询服务</a><br/>
	                    <small>名企面试官，给你最真实的求职体验</small>
	                </p>
	            </div>
	            <hr/>
	            <div class="col-sm-12" >
	                <img src="$link.contextPath/STATIC/image/weixin.png" style="width:60px;height: 60px; float:left" 
	                class="img-rounded">
	                <p style="padding-left: 72px;">
	                    <a href="">面试咨询服务</a><br/>
	                    <small>名企面试官，给你最真实的求职体验</small>
	                </p>
	            </div>
	        </div>
	    </div>
</div>
   