<div class="row">
	<div class="col-lg-12">
	    <div class="panel panel-default">
	        <div class="panel-body">
	        	<h3 class="panel-title">欢迎来到真咨网</h3>
	        	<p>
	             真咨网,最真实的一线名企雇员给给您提供最有价值的咨询服务
				</p>
	        </div>
	    </div>
    </div>
</div>

<div class="row">
	<div class="col-lg-12">
		<ul class="list-group">
		  <li class="list-group-item">
		   	<a href="$link.contextPath/article.htm?articleId=11"><span class="glyphicon glyphicon-fire"></span>求职咨询</a>
		  </li>
		  <li class="list-group-item">
		    <a href="$link.contextPath/article.htm?articleId=12">职业规划咨询</a>
		  </li>
		  <li class="list-group-item">
		    <a href="$link.contextPath/article.htm?articleId=13">企业信息咨询</a>
		  </li>
		  <li class="list-group-item">
		    <a href="$link.contextPath/article.htm?articleId=14">其余咨询...</a>
		  </li>		  
		</ul>
	</div>
</div>


<div class="row">
	<div class="col-lg-12">
	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <h3 class="panel-title">联系我们</h3>
	        </div>
	        <div class="panel-body">
	            <div class="col-lg-12" >
	                <img src="$link.contextPath/STATIC/image/weibo.png" style="width:60px;height: 60px; float:left" 
	                class="img-rounded">
	                <p style="padding-left: 72px;">
	                    <a href="">面试咨询服务</a><br/>
	                    <small>名企面试官，给你最真实的求职体验</small>
	                </p>
	            </div>
	            <hr/>
	            <div class="col-lg-12" >
	                <img src="$link.contextPath/STATIC/image/weixin.png" style="width:60px;height: 60px; float:left" 
	                class="img-rounded">
	                <p style="padding-left: 72px;">
	                    <a href="">面试咨询服务</a><br/>
	                    <small>名企面试官，给你最真实的求职体验</small>
	                </p>
	            </div>
	        </div>
	    </div>
    </div>
</div>
   