<div class="row">
	    <div class="panel panel-default">
	        <div class="panel-body">
		        	<h2 class="panel-title">欢迎来到真咨网</h2>
		        	<p>
		             真咨网,最真实的一线名企雇员给给您提供最有价值的咨询服务
					</p>
					#if(!$session.getAttribute("SESSION_COUNSELOR_OBJECT") && !$session.getAttribute("SESSION_CONSULTANT_OBJECT"))
					<p style="text-align:center;padding-top:4px;border-top:solid 1px #ddd;margin:0px;">
						<a  href="$link.contextPath/login.htm"  class="btn   btn-success">登录</a>
						<a  href="$link.contextPath/regist/regConsultant.htm" class="btn btn-link" >注册咨询者</a>
						<a  href="$link.contextPath/regist/regCounselorInit.htm" class="btn btn-link" >注册咨询师</a>
					</p>
					#end
	        </div>
	    </div>
</div>
<div class="row">
	    <div class="panel panel-default">
 			<div class="panel-heading">
	            分享到朋友圈
	        </div>	    
	        <div class="panel-body">
				<div class="bdsharebuttonbox">
					<a href="#" class="bds_more" data-cmd="more"></a>
					<a href="#" class="bds_qzone" data-cmd="qzone"></a>
					<a href="#" class="bds_tsina" data-cmd="tsina"></a>
					<a href="#" class="bds_tqq" data-cmd="tqq"></a>
					<a href="#" class="bds_renren" data-cmd="renren"></a>
					<a href="#" class="bds_weixin" data-cmd="weixin"></a>
					</div>
				<script>window._bd_share_config={"common":{"bdUrl":"www.zhenzi.me",
				"bdDesc":"一线名企员工告诉您怎样修改您的简历，怎么规划您的职业生涯，怎样的面试是最有效的，真咨网最真实的员工给你提供最有价值的咨询帮助！",
				"bdSnsKey":{},"bdText":"","bdMini":"8","bdPic":"","bdStyle":"0","bdSize":"24"},
				"share":{},"image":{
				"viewList":["qzone","tqf","tsina","tqq","renren","weixin"],
				"viewText":"分享到：","viewSize":"16"},
				"selectShare":{"bdContainerClass":"canbeShare",
				"bdSelectMiniList":["qzone","tqf","tsina","tqq","renren","weixin"]}};
				with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
				</script>
	        </div>
	    </div>
</div>
<div class="row">
	<div class="list-group">
	  <a   class="list-group-item" style="background:#f5f5f5">
	    <strong>真咨网常见问题</strong>
	  </a>
	  <a href="$link.contextPath/article.htm?articleId=1" class="list-group-item"><span class="glyphicon glyphicon-question-sign"></span> 我们如何保证咨询师信息的真实可靠？</a>
	  <a href="$link.contextPath/article.htm?articleId=1" class="list-group-item"><span class="glyphicon glyphicon-question-sign"></span> 咨询免费吗？怎么收费的？</a>
	  <a href="$link.contextPath/article.htm?articleId=1" class="list-group-item"><span class="glyphicon glyphicon-question-sign"></span> 我对咨询不满意，我能退款吗？</a>
	  <a href="$link.contextPath/article.htm?articleId=1" class="list-group-item"><span class="glyphicon glyphicon-question-sign"></span> 注册一个咨询师的条件是什么？</a>
	  <a href="$link.contextPath/article.htm?articleId=1" class="list-group-item"><span class="glyphicon glyphicon-question-sign"></span> 作为咨询师，我的个人信息会保密码？</a>
	</div>
</div>
<div class="row">
	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <h3 class="panel-title">联系我们</h3>
	        </div>
	        <div class="panel-body">
	            <div class="col-sm-12" >
	                <img src="$link.contextPath/STATIC/image/weibo.png" style="width:60px;height: 60px; float:left" 
	                class="img-rounded">
	                <p style="padding-left: 72px;">
	                    <a href="">面试咨询服务</a><br/>
	                    <small>名企面试官，给你最真实的求职体验</small>
	                </p>
	            </div>
	            <hr/>
	            <div class="col-sm-12" >
	                <img src="$link.contextPath/STATIC/image/weixin.png" style="width:60px;height: 60px; float:left" 
	                class="img-rounded">
	                <p style="padding-left: 72px;">
	                    <a href="">面试咨询服务</a><br/>
	                    <small>名企面试官，给你最真实的求职体验</small>
	                </p>
	            </div>
	        </div>
	    </div>
</div>
   